In [1]:
#Tuple: Like a list

In [2]:
t = (1,2,3,4)

In [3]:
type(t)

tuple

In [4]:
t1 = ("sudh", 345, 45+6j, 546.56, True)

In [5]:
l1 = ["sudh", 345, 45+6j, 546.56, True]

In [6]:
type(t1)

tuple

In [7]:
type(l1)

list

In [8]:
#1st difference between Tuple and list is brackets

In [9]:
#Properties of Tuple

In [10]:
t2 = ()

In [11]:
type(t2)

tuple

In [13]:
t1

('sudh', 345, (45+6j), 546.56)

In [15]:
l1[0:2]

['sudh', 345]

In [16]:
t1[0:2]

('sudh', 345)

In [20]:
#Slicing will remain same using square brackets like list

In [21]:
#Reverse order

In [22]:
t1[::-1]

(546.56, (45+6j), 345, 'sudh')

In [23]:
#Last element

In [24]:
t1[-1]

546.56

In [25]:
t1[0::2]

('sudh', (45+6j))

In [26]:
t1

('sudh', 345, (45+6j), 546.56)

In [27]:
l1

['sudh', 345, (45+6j), 546.56, True]

In [29]:
l2 = [2,3,4,5]

In [33]:
#Item reassignment operation in a particular index in a list

In [34]:
l1[0] = "kumar"

In [35]:
l1

['kumar', 345, (45+6j), 546.56, True]

In [36]:
t1

('sudh', 345, (45+6j), 546.56)

In [40]:
t1[0] = "xyz"

TypeError: 'tuple' object does not support item assignment

In [39]:
t1

('sudh', 345, (45+6j), 546.56)

In [44]:
#'tuple' object does not support item assignment. Tuples are immutable just like strings.

In [45]:
s = "sudh"

In [46]:
s[0] = 45

TypeError: 'str' object does not support item assignment

In [47]:
t1

('sudh', 345, (45+6j), 546.56)

In [50]:
t2 = (23,4,5,5,6,90)

In [51]:
t2

(23, 4, 5, 5, 6, 90)

In [53]:
#Append operation in Tuples and list is possible.

In [54]:
t1+t2

('sudh', 345, (45+6j), 546.56, 23, 4, 5, 5, 6, 90)

In [55]:
l1

['kumar', 345, (45+6j), 546.56, True]

In [57]:
l2+l1

[2, 3, 4, 5, 'kumar', 345, (45+6j), 546.56, True]

In [61]:
#Multiplication is possible in tuples

In [62]:
t1

('sudh', 345, (45+6j), 546.56)

In [63]:
t1*2

('sudh', 345, (45+6j), 546.56, 'sudh', 345, (45+6j), 546.56)

In [64]:
#Functions related to tuple are less compared to list(t2.(then press tab): It will show only count and index)

In [65]:
t1.count("sudh")

1

In [67]:
t1.index("sudh") #Gives 1st occurence of an element

0

In [68]:
#Why do we need tuple? : Data security (eg: passwords: so no one can change it)
#Here we have fixed size of a collection
#Otherwise we can perform same operation with list

In [72]:
#Nested tuple

In [73]:
t = (45,4,5,7,(5,6,7), ("sudh"))

In [74]:
t

(45, 4, 5, 7, (5, 6, 7), 'sudh')

In [75]:
#List inside a tuple is possible

In [77]:
t1 = ([3,4,546], ("zkjesfh", 435,56), "fjh")

In [78]:
#Can we change a list inside tuple?: Its is possible

In [79]:
t1[0][2] = "sudh"

In [80]:
t1

([3, 4, 'sudh'], ('zkjesfh', 435, 56), 'fjh')

In [81]:
#We cant make changes at a particular index, like the list is present at tuple's 0th index
#We cant change the whole list but we can make make changes in element that supports mutability.

In [82]:
t1[0]= "aGFhjf"

TypeError: 'tuple' object does not support item assignment

In [83]:
#List can hold tuples also and tuples can hold list

In [84]:
t1 = (44,5,6,7,8)

In [86]:
l = list(t1)

In [87]:
t1 = tuple(l)

In [88]:
t1

(44, 5, 6, 7, 8)

In [94]:
#Sets: Collection that holds unique elements, Notation here is Curly braces

In [95]:
l = [1,3,4,5,6,7,8,8,8,8,8,6.4,5,5,5,8,8,8]

In [96]:
#Remove duplicate element: Give unique element

In [97]:
set(l)

{1, 3, 4, 5, 6, 6.4, 7, 8}

In [98]:
s = {} #Curly braces without any element is a dict

In [99]:
type(s)

dict

In [100]:
s1 = {2,3,4} ##Curly braces with even 1 element is a set

In [101]:
type(s1)

set

In [102]:
s2={1,1,1,1,1,2,3,3,4,4,5}

In [103]:
s2

{1, 2, 3, 4, 5}

In [106]:
#Accesing elements from a set using slicing operation?: Not possible

In [107]:
s2[0]

TypeError: 'set' object is not subscriptable

In [108]:
#To access we first convert set into a list, will end up loosing property of a set

In [110]:
list(s2)

[1, 2, 3, 4, 5]

In [ ]:
#Add operation

In [111]:
s2.add(423545)

In [113]:
s2

{1, 2, 3, 4, 5, 423545}

In [114]:
s2.add("sudh")

In [115]:
s2

{1, 2, 3, 4, 423545, 5, 'sudh'}

In [117]:
s2.add([3,4,56,6]) #set can hold only primitive data types like int,float,str etc not collection datatypes that are mutable like list

TypeError: unhashable type: 'list'

In [1]:
{(3,4,5,6,6),3,4,5,6} #Tuple is allowed

{(3, 4, 5, 6, 6), 3, 4, 5, 6}

In [120]:
s = {(3,4,5,6),(3,4,5,6),3,4,5,6} #will remove duplicate tuples

In [121]:
s

{(3, 4, 5, 6), 3, 4, 5, 6}

In [122]:
#In-built operations

In [123]:
s.remove(4)

In [124]:
s

{(3, 4, 5, 6), 3, 5, 6}

In [125]:
s.discard(5)

In [126]:
s

{(3, 4, 5, 6), 3, 6}

In [127]:
s.remove(45) #key error

KeyError: 45

In [128]:
s.discard(45) #no error

In [129]:
s

{(3, 4, 5, 6), 3, 6}

In [133]:
#set{} #Build an unordered collection of unique elements.:Not mutable nor immutable as we dnt get indexes here so no manipulation

In [134]:
{"sudh", "Sudh"} #Sets are case sensative

{'Sudh', 'sudh'}

In [135]:
#Dictionaries : Storing things in a key value pair.

In [136]:
# SUDHANSHU5 : Coupon code

In [137]:
d = {}

In [138]:
type(d)

dict

In [139]:
d = {4,5,6}

In [140]:
type(d)

set

In [141]:
d = {4: "sudh"} #4 is key, "sudh" is value

In [143]:
d1 = {"key1": 57738, "key": "sudh", 45 : [2,3,4]}

In [144]:
l = [3,4,5,6,7] #Internally its trying to create indexes0,1,2,3,4
#Here index value 0,1,2,3,4 is key and value will be 3,4,5,6,7 resp

In [145]:
d1

{'key1': 57738, 'key': 'sudh', 45: [2, 3, 4]}

In [146]:
l[0]

3

In [148]:
d1["key1"] #Calling a particular key will give respective values

57738

In [149]:
d1[45]

[2, 3, 4]

In [151]:
d = {# : ["jdgfhj", "ejgfskhk", 4,5,6,7,8]}

SyntaxError: unexpected EOF while parsing (<ipython-input-151-d387af3289f8>, line 1)

In [152]:
#Key cant work with special case characters (#,$,& etc)

In [153]:
d = {.4 : ["jdgfhj", "ejgfskhk", 4,5,6,7,8]} #.4 is 0.4 only, therefore it will work

In [154]:
#Values can be stored as list,tuple,sets

In [155]:
d = {"Key": {3,4,5,6}}

In [156]:
#Diff between set and dict is that in dict creation of key-value pair is imp

In [157]:
d1 = {"Key": {3,4,5,6}, "key2": "sudh", "Key": 45}

In [160]:
d1["Key"]

45

In [161]:
#Last repeted value(latestrecent update one) will be holded and comes in output

In [162]:
#Key should not be duplicated in general, it should be unique athough it wont give an error but it will update and values can be duplicated (can be anything/no estriction)

In [163]:
d = {"name": "sudhanshu", "mo_no": 83498747457, "mail_id": "sudh@gmail.com", "key1": [44,5,6,], "key2": (2,3,4,5), "key3": {3,4,5,6,7,7,7,89}, "key4": {1:5, 6:7}}

In [164]:
d                   

#key1= list, key2: tuple, key3=set, key4=dict

{'name': 'sudhanshu',
 'mo_no': 83498747457,
 'mail_id': 'sudh@gmail.com',
 'key1': [44, 5, 6],
 'key2': (2, 3, 4, 5),
 'key3': {3, 4, 5, 6, 7, 89},
 'key4': {1: 5, 6: 7}}

In [165]:
d["key3"]

{3, 4, 5, 6, 7, 89}

In [166]:
type(d["key3"])

set

In [169]:
d["key4"]

{1: 5, 6: 7}

In [170]:
d["key4"][0]

KeyError: 0

In [171]:
d.keys()

dict_keys(['name', 'mo_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [172]:
d.values()

dict_values(['sudhanshu', 83498747457, 'sudh@gmail.com', [44, 5, 6], (2, 3, 4, 5), {3, 4, 5, 6, 7, 89}, {1: 5, 6: 7}])

In [174]:
s = d.items()

In [175]:
#dict_items returning Key:value pairs in form of list of tuples

In [176]:
s

dict_items([('name', 'sudhanshu'), ('mo_no', 83498747457), ('mail_id', 'sudh@gmail.com'), ('key1', [44, 5, 6]), ('key2', (2, 3, 4, 5)), ('key3', {3, 4, 5, 6, 7, 89}), ('key4', {1: 5, 6: 7})])

In [177]:
type(s)

dict_items

In [178]:
d = {"key1": "sudh", "key2": [1,2,3,4]}

In [179]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4]}

In [182]:
d["key3"] = "kumar" #If key is not available and you are trying to create a new one

In [183]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [186]:
d["key1"] = "kehfkhs" #If key is already available, it will update

In [187]:
d

{'key1': 'kehfkhs', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [188]:
#We cant change name of key, we have to delete it and then create a new one

In [189]:
del d["key1"]

In [190]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [191]:
del d #Deleting entire dict

In [192]:
d

NameError: name 'd' is not defined

In [193]:
d1 = {"key1": "sudh", "key2": [4,5,6,7]}

In [194]:
d1[[1,2,3]] = "iner" Key wont work as a list but will work as tuple

SyntaxError: invalid syntax (<ipython-input-194-740b837efcc5>, line 1)

In [196]:
d1[(1,2,3)] = "iner" #Key as tuple works

In [197]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7], (1, 2, 3): 'iner'}

In [199]:
d1.get("key1")

'sudh'

In [6]:
d1 = {"key1": "ineuron", "key": "FSOS"}

In [7]:
d2 = {"key2": 89347, "key3": [4,5,6,7]}

In [8]:
d1.update(d2) #Kind of append operation

In [9]:
d1

{'key1': 'ineuron', 'key': 'FSOS', 'key2': 89347, 'key3': [4, 5, 6, 7]}

In [205]:
d2

{'key2': 89347, 'key3': [4, 5, 6, 7]}

In [206]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [207]:
d1

{'key1': 'ineuron', 'key2': 89347, 'key3': [4, 5, 6, 7]}

In [208]:
d2

{'key2': 89347, 'key3': [4, 5, 6, 7]}

In [209]:
key = ("name", "mo", "mail")
value = "penn"

In [210]:
d = d1.fromkeys(key,value)

In [211]:
d

{'name': 'penn', 'mo': 'penn', 'mail': 'penn'}