In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1' : [1,2,3,4,5],
              'col2' : [45,56,67,34,34],
              'col3' : "sudhanshu kumar krish ineuron one".split()
    })

In [3]:
 "sudhanshu kumar krish ineuron one".split()  #based on space it splits

['sudhanshu', 'kumar', 'krish', 'ineuron', 'one']

In [4]:
df

   col1  col2       col3
0     1    45  sudhanshu
1     2    56      kumar
2     3    67      krish
3     4    34    ineuron
4     5    34        one

In [5]:
df['col4'] = 1

In [6]:
df

   col1  col2       col3  col4
0     1    45  sudhanshu     1
1     2    56      kumar     1
2     3    67      krish     1
3     4    34    ineuron     1
4     5    34        one     1

In [7]:
#Inorder to get square values of of col1 in col4

In [8]:
df['col4'] = df['col1']**2

In [9]:
df

   col1  col2       col3  col4
0     1    45  sudhanshu     1
1     2    56      kumar     4
2     3    67      krish     9
3     4    34    ineuron    16
4     5    34        one    25

In [10]:
#OR

In [11]:
#Create col5 where it will hold the 1st character of col3

In [12]:
df['col5'] = df['col3'].str[0]

In [13]:
df

   col1  col2       col3  col4 col5
0     1    45  sudhanshu     1    s
1     2    56      kumar     4    k
2     3    67      krish     9    k
3     4    34    ineuron    16    i
4     5    34        one    25    o

In [14]:
#Create col6 where it should be a deriation of col5, if s, keep s and if not s, keep z

In [15]:
#Lambda function

In [16]:
def test(a):
    return a**2

In [17]:
df['col_4'] = df['col1'].apply(test)

In [18]:
df

   col1  col2       col3  col4 col5  col_4
0     1    45  sudhanshu     1    s      1
1     2    56      kumar     4    k      4
2     3    67      krish     9    k      9
3     4    34    ineuron    16    i     16
4     5    34        one    25    o     25

In [19]:
def test1(a):
    if a == 's':
        return 's'
    else:
        return 'z'

In [20]:
df['col6'] = df['col5'].apply(test1)

In [21]:
df

   col1  col2       col3  col4 col5  col_4 col6
0     1    45  sudhanshu     1    s      1    s
1     2    56      kumar     4    k      4    z
2     3    67      krish     9    k      9    z
3     4    34    ineuron    16    i     16    z
4     5    34        one    25    o     25    z

In [22]:
df['col6_6'] = df['col5'].apply(lambda a: 's' if a == 's' else 'z')

In [23]:
df

   col1  col2       col3  col4 col5  col_4 col6 col6_6
0     1    45  sudhanshu     1    s      1    s      s
1     2    56      kumar     4    k      4    z      z
2     3    67      krish     9    k      9    z      z
3     4    34    ineuron    16    i     16    z      z
4     5    34        one    25    o     25    z      z

In [24]:
#Create a new column where it will hold length of the string

In [25]:
df['col7'] = df['col3'].apply(len)

In [26]:
df

   col1  col2       col3  col4 col5  col_4 col6 col6_6  col7
0     1    45  sudhanshu     1    s      1    s      s     9
1     2    56      kumar     4    k      4    z      z     5
2     3    67      krish     9    k      9    z      z     5
3     4    34    ineuron    16    i     16    z      z     7
4     5    34        one    25    o     25    z      z     3

In [27]:
import math

In [28]:
df["col8"] = df['col2'].apply(math.log)

In [29]:
df

   col1  col2       col3  col4 col5  col_4 col6 col6_6  col7      col8
0     1    45  sudhanshu     1    s      1    s      s     9  3.806662
1     2    56      kumar     4    k      4    z      z     5  4.025352
2     3    67      krish     9    k      9    z      z     5  4.204693
3     4    34    ineuron    16    i     16    z      z     7  3.526361
4     5    34        one    25    o     25    z      z     3  3.526361

In [30]:
import numpy as np

In [31]:
l = ["sudh", 1,2,3,4,5]

In [32]:
type(l)

list

In [33]:
np.array(l)

array(['sudh', '1', '2', '3', '4', '5'], dtype='<U11')

In [34]:
type(np.array(l))

numpy.ndarray

In [35]:
a1 = np.array([3,4,5,6,3.0])

In [36]:
a = np.array([[1,2], [3,4]])

In [37]:
a

array([[1, 2],
       [3, 4]])

In [38]:
a[1]

array([3, 4])

In [39]:
a[1][1]

4

In [40]:
a1

array([3., 4., 5., 6., 3.])

In [41]:
a1[1]

4.0

In [42]:
np.array([1,2,3,4], ndmin = 2)  #ndmin creates

array([[1, 2, 3, 4]])

In [43]:
np.array([1,2,3,4], ndmin = 3)

array([[[1, 2, 3, 4]]])

In [44]:
a2 = np.array([1,2,3,4], ndmin = 4)

In [45]:
a2[0][0][0][0]

1

In [46]:
a2[0][0][0][1]

2

In [47]:
a2[0][0][0][2]

3

In [48]:
a2[0][0][0][3]

4

In [49]:
a

array([[1, 2],
       [3, 4]])

In [50]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [51]:
np.asarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [52]:
np.mat([1,2,3,4,5])

matrix([[1, 2, 3, 4, 5]])

In [53]:
a = [1,2,3,4,5]
np.asarray(a)

array([1, 2, 3, 4, 5])

In [54]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [55]:
np.asanyarray(a)

array([1, 2, 3, 4, 5])

In [56]:
np.asanyarray(np.mat(a))

matrix([[1, 2, 3, 4, 5]])

In [57]:
#Matrix is derived from array, child class of an array

In [58]:
np.fromfunction(lambda i, j : i==j, (3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [59]:
np.fromfunction(lambda i, j : i==j, (4,4))

array([[ True, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False],
       [False, False, False,  True]])

In [60]:
  0   1   2   3   
0 T   F   F   F
1 F   T   F   F
2 F   F   T   F
3 F   F   F   T

SyntaxError: invalid syntax (<ipython-input-60-ab64ce555068>, line 1)

In [61]:
np.fromfunction(lambda i, j : i*j, (4,4), dtype = int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [62]:
np.mat(np.fromfunction(lambda i, j : i*j, (4,4), dtype = int))

matrix([[0, 0, 0, 0],
        [0, 1, 2, 3],
        [0, 2, 4, 6],
        [0, 3, 6, 9]])

In [63]:
np.mat(np.fromfunction(lambda i, j, z , i*j*z , (3,3,2), dtype = int))

SyntaxError: invalid syntax (<ipython-input-63-3d3ee1cf271d>, line 1)

In [64]:
np.fromfunction(lambda i, j, z: i*j*z , (3,3,2), dtype = int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [65]:
#In above (3,3,2): we are looking for 3 matrixes with dimensions 3*2
       # z axis, x axis, y axis
    
#z axis tells the depth

In [68]:
np.fromfunction(lambda i, j, z: i*j*z , (4,3,2), dtype = int)  #3D

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [ ]:
#We are looking for 4 matrixes of dimension 3x2

In [70]:
np.fromfunction(lambda i, j, z, p: i*j*z*p , (4,3,3,2), dtype = int) #4D

array([[[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  0],
         [ 0,  0]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  1],
         [ 0,  2]],

        [[ 0,  0],
         [ 0,  2],
         [ 0,  4]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  2],
         [ 0,  4]],

        [[ 0,  0],
         [ 0,  4],
         [ 0,  8]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  3],
         [ 0,  6]],

        [[ 0,  0],
         [ 0,  6],
         [ 0, 12]]]])

In [73]:
a = np.fromfunction(lambda i, j, z: i*j*z , (4,3,2), dtype = int)

In [74]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [75]:
a.ndim

3

In [76]:
a.size

24

In [77]:
a.shape

(4, 3, 2)

In [79]:
a.dtype

dtype('int32')

In [81]:
#Array "a" into a dataframe

In [82]:
pd.DataFrame(a)   #dataframe is a 2D matrix but here we have 3D matrix

#So we need reshaping

ValueError: Must pass 2-d input. shape=(4, 3, 2)

In [83]:
a = np.fromfunction(lambda i, j: i*j , (4,3), dtype = int)

In [84]:
pd.DataFrame(a)

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4
3  0  3  6

In [85]:
a = np.fromfunction(lambda i, j: i*j , (400,300), dtype = int)

In [86]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
2,0,2,4,6,8,10,12,14,16,18,...,580,582,584,586,588,590,592,594,596,598
3,0,3,6,9,12,15,18,21,24,27,...,870,873,876,879,882,885,888,891,894,897
4,0,4,8,12,16,20,24,28,32,36,...,1160,1164,1168,1172,1176,1180,1184,1188,1192,1196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,114550,114945,115340,115735,116130,116525,116920,117315,117710,118105
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,114840,115236,115632,116028,116424,116820,117216,117612,118008,118404
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,115130,115527,115924,116321,116718,117115,117512,117909,118306,118703
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,115420,115818,116216,116614,117012,117410,117808,118206,118604,119002
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,115710,116109,116508,116907,117306,117705,118104,118503,118902,119301

In [87]:
np.random.rand(100,4)

array([[0.75813824, 0.31407653, 0.17278532, 0.39043539],
       [0.55972377, 0.07606229, 0.65443286, 0.57475029],
       [0.53689159, 0.87675327, 0.1155994 , 0.22949859],
       [0.8232904 , 0.45339716, 0.23899828, 0.44238959],
       [0.45543558, 0.56823291, 0.64630514, 0.05841331],
       [0.22598098, 0.79184639, 0.96282692, 0.46381365],
       [0.00517945, 0.89472842, 0.74150302, 0.93804192],
       [0.18204879, 0.37231543, 0.99686   , 0.95357516],
       [0.99420503, 0.26955104, 0.68504096, 0.17202685],
       [0.44741836, 0.38463123, 0.32614851, 0.77540863],
       [0.73897743, 0.97607977, 0.06055208, 0.18441938],
       [0.55304134, 0.87243734, 0.73955361, 0.27065147],
       [0.97280777, 0.73422898, 0.64519984, 0.23591205],
       [0.9793555 , 0.43946165, 0.77706305, 0.94265117],
       [0.63541007, 0.32524708, 0.1923361 , 0.32579261],
       [0.68842197, 0.47244107, 0.32128222, 0.31052554],
       [0.07103001, 0.79726952, 0.78855094, 0.66107867],
       [0.97956606, 0.09410354, 0.35670338, 0.85668586],
       [0.56336022, 0.89933271, 0.79656417, 0.76753807],
       [0.45145366, 0.51639458, 0.86028015, 0.50690908],
       [0.01948988, 0.95677565, 0.94887417, 0.32491049],
       [0.82688938, 0.48054947, 0.88697883, 0.67532416],
       [0.67572007, 0.86245329, 0.73097156, 0.67695285],
       [0.62251601, 0.18444855, 0.95612443, 0.89474994],
       [0.96610755, 0.55935875, 0.14604997, 0.38056615],
       [0.30965222, 0.73432669, 0.88656219, 0.73404775],
       [0.43939328, 0.2484052 , 0.53469811, 0.02492974],
       [0.56789098, 0.56338858, 0.59631005, 0.92128923],
       [0.56606852, 0.5549197 , 0.34857967, 0.55828391],
       [0.27775391, 0.64720844, 0.52739316, 0.69633618],
       [0.43938488, 0.46572285, 0.8090133 , 0.27982651],
       [0.80668902, 0.24140316, 0.61710202, 0.56619101],
       [0.10139007, 0.90354168, 0.42945632, 0.79418545],
       [0.82604693, 0.11306259, 0.88010495, 0.79921875],
       [0.1537814 , 0.43449775, 0.60868976, 0.81745502],
       [0.56741369, 0.02477213, 0.26139442, 0.17210235],
       [0.73353926, 0.04279227, 0.07675079, 0.67820241],
       [0.54583765, 0.76970534, 0.08078783, 0.55884711],
       [0.35184478, 0.11979806, 0.24699506, 0.88983573],
       [0.04441213, 0.65764843, 0.91596152, 0.46987837],
       [0.73563383, 0.70753645, 0.49822372, 0.6221017 ],
       [0.21078939, 0.64709435, 0.41379724, 0.91235726],
       [0.98244267, 0.82849258, 0.81773987, 0.10003854],
       [0.08670394, 0.37605903, 0.35113518, 0.3209218 ],
       [0.97004545, 0.62807017, 0.35838499, 0.45006411],
       [0.97498986, 0.9728793 , 0.12355686, 0.50094701],
       [0.19293425, 0.84588124, 0.61387905, 0.82841205],
       [0.05888949, 0.62110169, 0.76108642, 0.29922592],
       [0.35147874, 0.73585061, 0.14412897, 0.71782853],
       [0.32553725, 0.67045682, 0.6821644 , 0.22082408],
       [0.53152491, 0.6680059 , 0.0510071 , 0.41485609],
       [0.6620651 , 0.92988956, 0.88991868, 0.68763058],
       [0.41112429, 0.01150313, 0.69038814, 0.74199881],
       [0.95589893, 0.03138202, 0.95366837, 0.03834649],
       [0.40077861, 0.28099315, 0.39777736, 0.91267922],
       [0.18626387, 0.2019289 , 0.93441395, 0.31440714],
       [0.66187218, 0.84223609, 0.5464872 , 0.713164  ],
       [0.7933661 , 0.93835887, 0.58085717, 0.4733747 ],
       [0.5502524 , 0.03441393, 0.94170802, 0.30259246],
       [0.14073809, 0.20365973, 0.2742254 , 0.42085501],
       [0.02924004, 0.11637499, 0.63198451, 0.85212248],
       [0.96922997, 0.57440671, 0.74944276, 0.89885813],
       [0.07634007, 0.95649466, 0.25270569, 0.98054346],
       [0.70153644, 0.42201168, 0.809193  , 0.9787045 ],
       [0.55482933, 0.75471944, 0.59885186, 0.17515808],
       [0.57318813, 0.22663145, 0.20834523, 0.24841544],
       [0.1085816 , 0.10305337, 0.88303983, 0.57404785],
       [0.53153331, 0.56804498, 0.08756578, 0.28783493],
       [0.15782585, 0.49457578, 0.83945603, 0.25940654],
       [0.1108235 , 0.71812193, 0.11603831, 0.277522  ],
       [0.53203618, 0.41221449, 0.04776866, 0.75683008],
       [0.68879217, 0.32639505, 0.60928574, 0.75913197],
       [0.05221938, 0.51237646, 0.17016669, 0.97888174],
       [0.01934191, 0.00133524, 0.78398353, 0.12032845],
       [0.63001582, 0.54251648, 0.10158392, 0.13970498],
       [0.46087469, 0.6908598 , 0.92277451, 0.60147356],
       [0.38347256, 0.15173236, 0.56995589, 0.90714571],
       [0.57245794, 0.15737717, 0.97820358, 0.33508191],
       [0.89875268, 0.39484461, 0.42558769, 0.96227765],
       [0.17317189, 0.15167438, 0.51189836, 0.60289602],
       [0.97200376, 0.02691708, 0.52421227, 0.1556467 ],
       [0.50600792, 0.62301858, 0.98022898, 0.4799696 ],
       [0.30367152, 0.07358217, 0.63310726, 0.29166682],
       [0.27757025, 0.03122865, 0.32467818, 0.28852304],
       [0.27282343, 0.2266968 , 0.2718274 , 0.46163104],
       [0.52228235, 0.12587173, 0.84427882, 0.33360626],
       [0.78646915, 0.3473949 , 0.17722436, 0.21562449],
       [0.80096875, 0.89089725, 0.48470127, 0.71780808],
       [0.56681905, 0.84876577, 0.89206301, 0.87408976],
       [0.2894349 , 0.1306918 , 0.5767471 , 0.74348226],
       [0.86117788, 0.63617882, 0.28405963, 0.14893379],
       [0.10021786, 0.82740955, 0.13251044, 0.09568987],
       [0.58695191, 0.0339902 , 0.34921498, 0.56474582],
       [0.09324257, 0.80176425, 0.44078653, 0.94613588],
       [0.06942405, 0.3703901 , 0.0889442 , 0.83693815],
       [0.86643961, 0.61364395, 0.15698656, 0.769588  ],
       [0.51915011, 0.31562433, 0.81325146, 0.34419635],
       [0.27045438, 0.5338609 , 0.43710485, 0.12618029],
       [0.24229606, 0.01664956, 0.44136357, 0.79782851],
       [0.61354932, 0.14005401, 0.70672822, 0.79172567]])

In [93]:
np.random.randint(4,50)

29

In [97]:
pd.DataFrame(np.random.randn(4,5)) #randn gives random number with a normal distribution

#Avg of these numbers is going to be zero and std dev= 1

          0         1         2         3         4
0 -0.446003  0.218803 -1.184812  0.783288 -1.413809
1  1.224295 -2.431403  1.023498  0.245618  0.233117
2 -0.220658 -1.815442 -0.534282  0.010728  1.048044
3  0.732889  1.270898  2.752111  0.873981 -1.439347

In [98]:
#To change dimension of the dataset

TypeError: reshape() takes exactly 1 argument (0 given)

In [100]:
a = np.fromfunction(lambda i, j, z: i*j*z , (4,3,2), dtype = int)

In [101]:
a.reshape(5,5)

ValueError: cannot reshape array of size 24 into shape (5,5)

In [105]:
pd.DataFrame(a.reshape(8,3))  #(row, element)

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
3  1  0  2
4  0  0  0
5  2  0  4
6  0  0  0
7  3  0  6

In [107]:
a.reshape(4,2,1,3,1,1)

array([[[[[[0]],

          [[0]],

          [[0]]]],



        [[[[0]],

          [[0]],

          [[0]]]]],




       [[[[[0]],

          [[0]],

          [[0]]]],



        [[[[1]],

          [[0]],

          [[2]]]]],




       [[[[[0]],

          [[0]],

          [[0]]]],



        [[[[2]],

          [[0]],

          [[4]]]]],




       [[[[[0]],

          [[0]],

          [[0]]]],



        [[[[3]],

          [[0]],

          [[6]]]]]])

In [110]:
a.reshape(4,-1)  #-1 or any negative number represents the default number: 4xn = 24, where n = 6

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [113]:
a.reshape(4,-33284377)  #any negative number

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [114]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [116]:
list(range(4,10,.2))

TypeError: 'float' object cannot be interpreted as an integer

In [117]:
#Function in numpy equivalent to range function,
#tho normal range can take integer as step size
#But numpy range can

In [122]:
a1 = np.arange(4.2,10.5,.2)

In [123]:
a1

array([ 4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,  6.2,
        6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,  8.4,
        8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [124]:
a1[1:4]

array([4.4, 4.6, 4.8])

In [125]:
arr = np.random.rand(4,5)

In [126]:
arr

array([[0.53534024, 0.24263352, 0.17615918, 0.36193464, 0.24061036],
       [0.92644016, 0.06650038, 0.42282368, 0.28934764, 0.54907701],
       [0.77448735, 0.07592218, 0.30079043, 0.68314029, 0.44270546],
       [0.59296037, 0.25179758, 0.04431801, 0.77743437, 0.02540319]])

In [127]:
arr > .5

array([[ True, False, False, False, False],
       [ True, False, False, False,  True],
       [ True, False, False,  True, False],
       [ True, False, False,  True, False]])

In [130]:
arr  #Give the 2 middle numbers (Row 1,2 and column 2)

array([[0.53534024, 0.24263352, 0.17615918, 0.36193464, 0.24061036],
       [0.92644016, 0.06650038, 0.42282368, 0.28934764, 0.54907701],
       [0.77448735, 0.07592218, 0.30079043, 0.68314029, 0.44270546],
       [0.59296037, 0.25179758, 0.04431801, 0.77743437, 0.02540319]])

In [132]:
arr[[1,2] , [2]]    #(Row 1,2 and column 2)

array([0.42282368, 0.30079043])

In [133]:
arr = np.random.rand(8,5)

In [134]:
arr[1:8 , 0:3]

array([[0.89771329, 0.77314859, 0.24787823],
       [0.72999058, 0.82868074, 0.18836108],
       [0.54839718, 0.72917705, 0.8149096 ],
       [0.96701407, 0.11086149, 0.96097924],
       [0.1932596 , 0.37054819, 0.25396826],
       [0.13079633, 0.24122192, 0.56847183],
       [0.03596555, 0.23243982, 0.82110193]])

In [137]:
a2 = arr[1:8 , [0,1,2]]

In [138]:
a2

array([[0.89771329, 0.77314859, 0.24787823],
       [0.72999058, 0.82868074, 0.18836108],
       [0.54839718, 0.72917705, 0.8149096 ],
       [0.96701407, 0.11086149, 0.96097924],
       [0.1932596 , 0.37054819, 0.25396826],
       [0.13079633, 0.24122192, 0.56847183],
       [0.03596555, 0.23243982, 0.82110193]])

In [141]:
a2[0][0] = 100  #(Row 0, COLUMN 0) Reassignment operation

In [142]:
a2

array([[1.00000000e+02, 7.73148589e-01, 2.47878228e-01],
       [7.29990579e-01, 8.28680741e-01, 1.88361085e-01],
       [5.48397183e-01, 7.29177054e-01, 8.14909601e-01],
       [9.67014073e-01, 1.10861491e-01, 9.60979242e-01],
       [1.93259602e-01, 3.70548191e-01, 2.53968263e-01],
       [1.30796328e-01, 2.41221915e-01, 5.68471835e-01],
       [3.59655526e-02, 2.32439818e-01, 8.21101926e-01]])

In [146]:
a = np.array([[1,2], [3,4]])
b = np.array([[2,3], [4,5]])

In [147]:
a

array([[1, 2],
       [3, 4]])

In [148]:
b

array([[2, 3],
       [4, 5]])

In [150]:
a*b #No Matrix multiplication, only index wise multiplication

array([[ 2,  6],
       [12, 20]])

In [153]:
m = a@b #Matrix multiplication

In [154]:
m

array([[10, 13],
       [22, 29]])

In [155]:
m/0

<ipython-input-155-be1849f03ef3>:1: RuntimeWarning: divide by zero encountered in true_divide
  m/0

array([[inf, inf],
       [inf, inf]])