In [1]:
def test():
    pass

In [2]:
def test1():
    print("this us my first function")

In [3]:
test1()

this us my first function

In [4]:
a = test1()

this us my first function

In [8]:
test1() + "sudh"

this us my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
type(test1())

this us my first function

NoneType

In [10]:
a = test1()

this us my first function

In [11]:
str(a)

'None'

In [12]:
def test2():
    return "this is my first func"

In [13]:
type(test2())

str

In [14]:
test2() + "sudh"

'this is my first funcsudh'

In [15]:
def test3():
    return 8473894

In [16]:
test3()

8473894

In [17]:
def test4():
    return 4,3,"sudh", [1,2,3,4,5]

In [18]:
test4()

(4, 3, 'sudh', [1, 2, 3, 4, 5])

In [19]:
type(test4())

tuple

In [20]:
b = test4()

In [21]:
b

(4, 3, 'sudh', [1, 2, 3, 4, 5])

In [22]:
b[1]

3

In [23]:
b[3]

[1, 2, 3, 4, 5]

In [24]:
def test4():
    return 4,3,"sudh", [1,2,3,4,5]

In [25]:
a = 2
b = 5
c = "sudh"
d = [1,2,3,4]

In [32]:
x,y,u,v = test4()

In [33]:
x

4

In [34]:
y

3

In [35]:
u

'sudh'

In [36]:
v

[1, 2, 3, 4, 5]

In [37]:
def test5():
    a = 6*7/6
    return a

In [38]:
test5()

7.0

In [41]:
l = [3,4,5,6,7,8,"sudh",[1,3,4,5]]

In [44]:
def test6(a):
    l1 = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                l1.append(i)
    return l1                       #we cant write print because it will return us a nonetype intead of list

In [48]:
test6(l)

[3, 4, 5, 6, 7, 8]

In [49]:
type(test6(l))

list

In [50]:
 test6([432,432,3,3225,",fjgld",(42,44,"jsf")])

[432, 432, 3, 3225]

In [51]:
def test8(c):
    if type(c) == dict:
        return c.keys()
    else:
        return "you have not passed a dic"

In [52]:
test8("fhghjdsshbds")

'you have not passed a dic'

In [54]:
test8({"a": "fkjvkjfvs", "b": 4388})

dict_keys(['a', 'b'])

In [55]:
#Multiple input

In [65]:
def test9(a,b):
    if type(a) == list and type(b) == list:
        return a.extend(b)
    else:
        return "Either of your data is not a list"

In [71]:
a = [1,2,3,4]  #Global variable:Its access will be out of this notebook
               #Local variable: Access only inside the function
b = [6,7,8,9]

In [72]:
n = test9(a,b)

In [73]:
n

In [74]:
#No output

In [75]:
a   #But here the list has been extended

[1, 2, 3, 4, 6, 7, 8, 9]

In [76]:
n = 5
for i in range(0,n):              #[0,1,2,3,4]  #Create rows
    for j in range(0,i+1):        #[0],[0,1],[0,1,2], [0,1,2,3], [0,1,2,3,4]        #Build rows
        print("*", end= "")       #end: string appended after the last value, default a newline.
    print("\r")

*
**
***
****
*****

In [85]:
def triangles(n):
    """sljfhkjlsfgjshfl       #Hint/help for others in the form of docstring
    kjdfkjadhfadljfjladf
    adkfbkadjhfas"""
    for i in range(0,n):
        for j in range(0,i+1):
            print("*", end = " ")
        print("\r")

In [89]:
triangles(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [91]:
help(triangles)   #help is a in-built func which will give us a doc string

Help on function triangles in module __main__:

triangles(n)
    sljfhkjlsfgjshfl       #Hint/help for others in the form of docstring
    kjdfkjadhfadljfjladf
    adkfbkadjhfas

In [92]:
#dkshfghkf sdskghfouwuhjLDVN   (One line comment)

In [94]:
"""KFHGFSH                  (Multi line comment)
SKJSVDSVBSN
VNKJVJFSV"""

'KFHGFSH                  (Multi line comment)\nSKJSVDSVBSN\nVNKJVJFSV'

In [95]:
"""#1You have to write a fun which will take string and return
a len of it without using an inbuilt fun len.
2. Write a func which will be able to print an index of all primitive element which will pass 
3. Write a fun which will take input as a dict and give me out as a list of all values
even in case of level nesting it should work.
4. Write a function which will take list as a input and give me concatenation of all element as and output.
5. Write a func which will take list as a input and give me concatenation of all the element 

8

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-95-64ed8fdc3dfc>, line 9)

In [ ]:
"""

"""