# Functions

In [1]:
#Modular code that increases reusability, readablity, convert complete set of code into modules

In [2]:
a = 1
b = 2
a + b

3

In [4]:
#When you dont want to provode the body of the function

def test(x,y):
    pass

In [5]:
def test(x,y):
    print(x+y)

In [6]:
#Calling a function 

test(35,56)

91

In [8]:
test("jhgf","ahf")

jhgfahf

In [11]:
def test1(b,m):
    return(b*m)

In [12]:
test1(44839,847328)

37993340192

In [2]:
#Using print statement: If we add another datatype, we get an error

def test(x,y):
    print(x+y)

In [3]:
test(34,56) + 6

90

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [8]:
#The type of data is "Nonetype" when we use print statement: Means data will not have any datatype

type(test(34,56))

90

NoneType

In [10]:
#Also we cant store and print it further.

In [13]:
b = test(34,56)

90

In [14]:
#Cant print b 

b

In [5]:
#Using return statement: No such error

def test1(b,m):
    return(b*m)

In [6]:
test1(34,56) + 6

1910

In [9]:
type(test1(34,56))

int

In [15]:
#We can store and print it further

In [16]:
a = test1(34,56)

In [17]:
a

1904

In [ ]:
#Return will give the exact datatype, this operation is going to give to you,
#so we can perform any type of primitive operations in top of those returns and can store it.

In [ ]:
#So we are supposed to use return statement while doing such functions.

In [20]:
def type2(t,n,m):
    return t + n

In [21]:
type2(2,3)

TypeError: type2() missing 1 required positional argument: 'm'

In [22]:
type2(2,3,0)

5

In [23]:
#Returning multiple values out of data: In the form of tuples

def test3(n,m):
    return n*10 , m*3, m+n

In [24]:
test3(4,5)

(40, 15, 9)

In [25]:
c,x,v = test3(4,5)

In [26]:
c

40

In [27]:
v

9

In [29]:
x

15

In [30]:
#When you are not interested in the third return: we will use _ (place holder) in place of variable name to avoid error.

In [31]:
c,x,_ = test3(4,5)

In [32]:
c

40

In [33]:
x

15

In [34]:
_

9

In [35]:
c,_,_ = test3(4,5)

In [36]:
c

40

In [37]:
_

9

In [38]:
_

9

In [40]:
def test8(n):
    return n*2

In [41]:
test8([3,4,54,45])

[3, 4, 54, 45, 3, 4, 54, 45]

In [42]:
test8(746)

1492

In [43]:
def test9(n):
    return n, n*7

In [46]:
test9(67)

(67, 469)

In [54]:
#We are expoecting two values in return, which we will get in the form of tuples 

b = test9([1,2,3])

In [55]:
b

([1, 2, 3], [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [51]:
#Slicing and indexing operations inside tuple

In [52]:
b[0]

[1, 2, 3]

In [53]:
b[1]

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
def test10(n,m=50 ):
    return n + m

In [61]:
test10(60)

110

In [64]:
#By default it will take m as 50 but if we provide 2 variables then its value changes.
#Means that we can overwrite the default value in runtime. 
test10(30,40)

70

In [66]:
def boolx(x = True, y = False):
    return x + y

In [67]:
boolx()

1

In [69]:
boolx(True)

1

In [70]:
boolx(False)

0

In [71]:
boolx(False, 8)

8

In [72]:
def travel(bike = True, car = False):
    plan_travel = bike or car 
    return bike, car, plan_travel

In [73]:
travel()

(True, False, True)

In [74]:
#Three output because of "or" operation.

In [75]:
travel(car = True)

(True, True, True)

In [76]:
travel(_, True)

((True, True, True), True, (True, True, True))

In [77]:
_

((True, True, True), True, (True, True, True))

In [78]:
#When you want your function to consume multiple datasets: asterisk argument

In [82]:
def test11(*args):
    return args

In [83]:
test11("Penny", "Bajwa", 34, [3244,324,32])

('Penny', 'Bajwa', 34, [3244, 324, 32])

In [84]:
#Task: Create a function which will take multiple no of lists and return a single list

In [85]:
def concatenate(*lists):
    new_list = []
    for i in lists:
        new_list.append(i)
    return new_list

In [86]:
concatenate([45,34,56],["askhf","akfh", True], [1,2,False])

[[45, 34, 56], ['askhf', 'akfh', True], [1, 2, False]]

In [90]:
def concatenated(*lists):
    new_list = []
    for i in lists:
        new_list.extend(i)
    return new_list

In [91]:
concatenated([45,34,56],["askhf","akfh", True], [1,2,False])

[45, 34, 56, 'askhf', 'akfh', True, 1, 2, False]

In [96]:
def concatenat(*lists):
    l = []
    for i in lists:
        l = l + i
    return l

In [97]:
concatenat([45,34,56],["askhf","akfh", True], [1,2,False])

[45, 34, 56, 'askhf', 'akfh', True, 1, 2, False]

In [94]:
#Other method

In [87]:
def join_lists(*lists):
    return sum(lists, [])

In [88]:
join_lists([754,34535], [325,True])

[754, 34535, 325, True]

In [98]:
#Other method

In [101]:
def test14(*args):
    return [i for i in args]

In [102]:
test14([45,34,56],["askhf","akfh", True], [1,2,False])

[[45, 34, 56], ['askhf', 'akfh', True], [1, 2, False]]

In [103]:
#Restricting functions using if else (conditional) statements

In [104]:
def concatenated(*lists):
    new_list = []
    for i in lists:
        if type(i) == list:
            new_list.extend(i)
    return new_list

In [106]:
#It will only return the list, not the string or int mentioned by user

concatenated("eyqwefg", 2435, [1,2,3,4])

[1, 2, 3, 4]

In [107]:
def test16(**kwargs):
    return kwargs

In [108]:
test16(45,78,9)

TypeError: test16() takes 0 positional arguments but 3 were given

In [109]:
def test16(**kwargs):
    return kwargs

In [110]:
test16(21,3,4,4)

TypeError: test16() takes 0 positional arguments but 4 were given

In [112]:
#Kwargs take up data only in the form of Key:Value pairs whereas args can take up in any form 

test16(a = 12, b = 5, c = [52,34,35], d = True)

{'a': 12, 'b': 5, 'c': [52, 34, 35], 'd': True}

In [115]:
def test17(*args):
    return args

In [117]:
test17("adFB", 844,324,342, ["aDJADFk", 2428342], False)

('adFB', 844, 324, 342, ['aDJADFk', 2428342], False)

#Q-1 Create a function in which:
1. To take any number of mixed data and try to create a list of separate data based on datatype and return multiple result
2. Which will be able to use *args and **kwargs and it will be able to do list value concatenation and return a list

In [6]:
def concatenated(*args):
    new_list = []
    in_list = []
    st_list = []
    b_list = []
    t_list = []
    d_list = []
    f_list = []
    for i in args:
        if type(i) == list:
            new_list.append(i)
        if type(i) == int:
            in_list.append(i)
        if type(i) == str:
            st_list.append(i)
        if type(i) == bool:
            b_list.append(i)
        if type(i) == tuple:
            t_list.append(i)
        if type(i) == dict:
            d_list.append(i)
        if type(i) == float:
            f_list.append(i)
    return new_list, in_list, st_list, b_list, t_list, d_list, f_list

In [7]:
concatenated(True, False, "aeffe", "euro3ri", 123, 7.66, 4.0, "jdghw", [1,3,4], 4 + 5j, False, [87459,34,67], 740, 57, (45,35), (78903, 45), 0.78, {"Penn": "Bajwa", "Age": 24})

([[1, 3, 4], [87459, 34, 67]],
 [123, 740, 57],
 ['aeffe', 'euro3ri', 'jdghw'],
 [True, False, False],
 [(45, 35), (78903, 45)],
 [{'Penn': 'Bajwa', 'Age': 24}],
 [7.66, 4.0, 0.78])

In [12]:
#Other/Better way:

In [15]:
def func1(*args):
    dt = {}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

In [16]:
func1(1,2,3,[2,3,4],"jg", "jaf", 8.9, 9.6, 4 + 7j)

{int: [1, 2, 3],
 list: [[2, 3, 4]],
 str: ['jg', 'jaf'],
 float: [8.9, 9.6],
 complex: [(4+7j)]}

In [11]:
def concat(*args, **kwargs):
    l = [i for i in args]
    d = [i[1] for i in kwargs.items() if type(i[1]) == list]
    return l, d

In [12]:
concat([2,3,4,5], [5,6,7,8], 50,60,72,47, a = 5, b = "eajgf", c = [45,2,4,5])

([[2, 3, 4, 5], [5, 6, 7, 8], 50, 60, 72, 47], [[45, 2, 4, 5]])

In [4]:
def test18(**kwargs):
    return kwargs

In [5]:
test18(a = 6, b = 8, c = "hgdld", h = [1,2,3,4], d = ["Penn", "Bajwa", 2435])

{'a': 6, 'b': 8, 'c': 'hgdld', 'h': [1, 2, 3, 4], 'd': ['Penn', 'Bajwa', 2435]}

In [6]:
#Inorder to extract only "Bajwa" from the dictionary in above output:

In [10]:
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if "Bajwa" in i[1]:
                print("I am able to find your name in input data")
                print(i[1])
    return kwargs

In [11]:
test19(a = 6, b = 8, c = "hgdld", h = [1,2,3,4], d = ["Penn", "Bajwa", 2435])

I am able to find your name in input data
['Penn', 'Bajwa', 2435]

{'a': 6, 'b': 8, 'c': 'hgdld', 'h': [1, 2, 3, 4], 'd': ['Penn', 'Bajwa', 2435]}