# String Manipulation

In [16]:
#String

a = "Penn"
b = 'Penn'

In [17]:
a

'Penn'

In [18]:
b

'Penn'

In [19]:
#String Parsing
s = "I am learning Python String Manipulation"


#In forward direction, indexing start from 0,1,2,3... so on
#In reverse direction, indexing start from -1,-2,-3... so on

In [20]:
s[0]

'I'

In [21]:
s[-1]

'n'

In [22]:
len(s)

40

In [23]:
s[4:10]

' learn'

In [24]:
s[10:2:-1]

'inrael m'

In [25]:
s

'I am learning Python String Manipulation'

In [26]:
for i in s:
    print(i, end = "")

I am learning Python String Manipulation

In [27]:
for i in range(len(s)):
    print(s[i], end="")
    
    #Here s[i] means s of o, s of 1, s of 2 and so on..

I am learning Python String Manipulation

In [28]:
#String in reverse direction: Upper bound and lower bound are not defined,
#ss is -1 so by default it will start from backward direction 

s[::-1]

'noitalupinaM gnirtS nohtyP gninrael ma I'

In [29]:
s

'I am learning Python String Manipulation'

In [30]:
#Suppose I have to change the first letter "I" to "M"

s[0] = "M"

TypeError: 'str' object does not support item assignment

In [31]:
#But list does, example:
l = ["Penn", 1234, "ekhfg"]
l[0] = "Penny"
l

['Penny', 1234, 'ekhfg']

This shows that string is a IMMUTABLE object, at any location we wont be 
able to replace the data or one character with other
'str' object does not support item assignment
But lists are MUTABLE

In [32]:
#Typecasting in a string
"penn" + str(3)

'penn3'

In [33]:
"penn" + ["bajwa", 122324, "khew"]

TypeError: can only concatenate str (not "list") to str

In [34]:
"penn" + str(["bajwa", 122324, "khe"])

"penn['bajwa', 122324, 'khe']"

In [35]:
 "penn"*4

'pennpennpennpenn'

In [36]:
s

'I am learning Python String Manipulation'

In [37]:
s.find("n")
#press shift+tab to know the the documentation/function of that particular method

9

In [38]:
s.find("AEHFeshf")

#-1 in the output means that this particular string is not available instead of giving an error

-1

In [39]:
s.find("am")

2

In [40]:
for i in "learning":
    s.index(i)

In [41]:
s.rindex("learning")

5

In [42]:
s = "My name is Penn, I am name doing an internship at ineuron"
#Find all the indices of a substring "name" coming after My and before is. 
s

'My name is Penn, I am name doing an internship at ineuron'

In [43]:
#Find all the indices of a first substring "name" coming after My and before is. 
for i in "name":
    print(s.index(i))

3
4
5
6

In [44]:
#other solution
a = s.find("name")
for i in range(len("name")):
    print(a + i)
"""First line of code will give us the first index of n in name, that is 3. 
Second line of code will give us a range of name from 0 to 3 : 0,1,2,3
Third line of code will give the sum of 3 + 0, 3 + 1, 3 + 2, 3 + 3"""

3
4
5
6

'First line of code will give us the first index of n in name, that is 3. \nSecond line of code will give us a range of name from 0 to 3 : 0,1,2,3\nThird line of code will give the sum of 3 + 0, 3 + 1, 3 + 2, 3 + 3'

In [45]:
#count function: Tells the number of time the particular quantity is appearing 
"""Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation."""
#count function is also case sensative
s

'My name is Penn, I am name doing an internship at ineuron'

In [46]:
s.count("n")

10

In [47]:
s.count("name")

2

In [48]:
s.count("ajyrgq")

0

In [49]:
#count function is also case sensative
s = "My name, is a, good name"
p = "My name is a good Name"

In [50]:
s.count("name")

2

In [51]:
p.count("name")

1

In [52]:
#split function: Return a list of the words in the string, using sep as the delimiter string.

s.split()

['My', 'name,', 'is', 'a,', 'good', 'name']

In [53]:
s.split("na")

['My ', 'me, is a, good ', 'me']

In [54]:
s.split(",")

['My name', ' is a', ' good name']

In [55]:
type(s.split("na"))

list

In [56]:
s.upper()

'MY NAME, IS A, GOOD NAME'

In [57]:
s.lower()

'my name, is a, good name'

In [58]:
#swapcase: Convert uppercase characters to lowercase and lowercase characters to uppercase.

x = "MY NAME IS PENNY, i live in bhiwadi"
x.swapcase()

'my name is penny, I LIVE IN BHIWADI'

In [59]:
" ".join(s)

'M y   n a m e ,   i s   a ,   g o o d   n a m e'

In [60]:
list(reversed(s))

['e',
 'm',
 'a',
 'n',
 ' ',
 'd',
 'o',
 'o',
 'g',
 ' ',
 ',',
 'a',
 ' ',
 's',
 'i',
 ' ',
 ',',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'M']

In [61]:
s[::-1]

'eman doog ,a si ,eman yM'

In [62]:
#strop method: Return a copy of the string with leading and trailing whitespace removed.

s = "      name is penny"
s

'      name is penny'

In [63]:
s.strip()

'name is penny'

In [64]:
#strip cant remove the white spaces in between 

s = "  na   me  "
s.strip()

'na   me'

In [65]:
#To strip either on the left hand or right hand side at a time, we use:

s.lstrip()

'na   me  '

In [66]:
s.rstrip()

'  na   me'

In [67]:
#replace method: Return a copy with all occurrences of substring old replaced by new.

s = "Greetings from Penny"
s.replace("P" , "J")

'Greetings from Jenny'

In [68]:
s

'Greetings from Penny'

#This shows that there are no changes in the original string. Immutability is not possible inside a string.

In [69]:
s

'Greetings from Penny'

In [70]:
s = "Penn"
s.center(20, "b")

'bbbbbbbbPennbbbbbbbb'

In [71]:
s = "Penn\tBajwa"
s

'Penn\tBajwa'

In [72]:
s.expandtabs()

'Penn    Bajwa'

In [73]:
s = "We all are a part of Full stack"
s

'We all are a part of Full stack'

In [74]:
#Q-1 Normalize the string to lowercase
s.lower()

'we all are a part of full stack'

In [75]:
#Q-2 Find the number of times "a" appeared in the string
s.count("a")

5

In [76]:
s

'We all are a part of Full stack'

In [77]:
#Q-3 Find all the location/indices of "a" in a string

for i in range(len(s)):
    if(s[i]=="a"):
        print(i)

3
7
11
14
28

In [78]:
#Q-3 Other solution
l = []
for i in range(len(s)):
    if s[i]=="a":
        l.append(i)
print(l)
print(s)

[3, 7, 11, 14, 28]
We all are a part of Full stack

In [79]:
#Q-3 Other solution
print([i for i in range(len(s)) if s[i] == "a"])

[3, 7, 11, 14, 28]

In [80]:
#Q-4 Replace all the a with iNeuron

s.replace("a", "iNeuron")

'We iNeuronll iNeuronre iNeuron piNeuronrt of Full stiNeuronck'

In [81]:
#Q-5 Print all the words as a List

s.split()

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'stack']

In [82]:
#All the methods starting from "is" returns a boolean value
s.isupper()

False

In [83]:
s.islower()

False

In [84]:
s.isspace()

False

In [85]:
s = "   "
s.isspace()

True

In [86]:
s = "13234235"
s.isdigit()

True

In [87]:
s = "My name is Penn"
s.startswith("M")

True

In [88]:
s.isalnum()

False

In [89]:
s = "Penn123"
s.isalnum()

True

In [90]:
s.istitle()

True

In [91]:
s = "this is a full stack batch"
#Q-1 Find the length of the string s 
len(s)

26

In [92]:
#Without using the function len
count = 0 
for i in s:
    count = count +1
print(count)

26

In [93]:
for i in range(len(s)):
    print(s[i])

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [94]:
for i in range(len(s)):
    print(s[-i], end="")

thctab kcats lluf a si sih

In [95]:
#Reversing a string without using for loop, reversed method:

s = "Penny"
ch = len(s) - 1 
while ch >= 0:
    print(s[ch])
    ch = ch - 1

y
n
n
e
P

In [96]:
name = "iNeuron"
vowels = "AaEeIiOoUu"

for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
N is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [97]:
"{} is not a Penny".format("My")

'My is not a Penny'

In [98]:
"{} is {} a Penny".format("My", "not")

'My is not a Penny'

In [99]:
a = "svbkhfv"
b = 'keifjev'

"{} is {} a Penny".format(a, b)

'svbkhfv is keifjev a Penny'

In [100]:
#Pallidrome: A string/data which when traversed in forward or reverse direction, it reads the same.
#Eg: Malyalam, Arora, xyx,2002, eye(Read in either direction, it is read the same.)

#Q- Write a code to check palindrome in the data

s = input("Enter the data for which you would like to check the palindrome: ")
s1 = s[::-1]
if s == s1:
    print("Its a Palidrome")
else:
    print("Not a Palindrome")

Enter the data for which you would like to check the palindrome:
Its a Palidrome

# List Manipulation

In [101]:
l = ["Penn", 34,56,78, [64,48]]

In [102]:
l[3]

78

In [103]:
l[0:3]

['Penn', 34, 56]

In [104]:
l[0:3:-1]

[]

In [105]:
l[3:0:-1]

[78, 56, 34]

In [106]:
l[::-1]

[[64, 48], 78, 56, 34, 'Penn']

In [107]:
s = "Penn"
s = list(s)
s

['P', 'e', 'n', 'n']

In [108]:
l + s

['Penn', 34, 56, 78, [64, 48], 'P', 'e', 'n', 'n']

In [109]:
l*2

['Penn', 34, 56, 78, [64, 48], 'Penn', 34, 56, 78, [64, 48]]

In [110]:

l

['Penn', 34, 56, 78, [64, 48]]

In [111]:
len(l)

5

In [112]:
"Penn" in l

True

In [113]:
"Laksh" in l

False

In [114]:
456 in l

False

In [115]:
#list: can hold any type of datatype

In [116]:
l = ["Penn", 234, 45.6, [456, 78, "c"], True]

In [117]:
for i in l:
    print(i)

Penn
234
45.6
[456, 78, 'c']
True

In [118]:
#Parsing through a list through indexes
l[0]

'Penn'

In [119]:
l[::-1]

[True, [456, 78, 'c'], 45.6, 234, 'Penn']

In [120]:
for i in l:
    if type(i) == list:
        print("This is a list", i)
    else:
        print("No its not a list", i)

No its not a list Penn
No its not a list 234
No its not a list 45.6
This is a list [456, 78, 'c']
No its not a list True

In [121]:
l

['Penn', 234, 45.6, [456, 78, 'c'], True]

In [122]:
l1 = ["ineuron", "jeygey", 4736732]

In [123]:
#Appending list
l + l1

['Penn', 234, 45.6, [456, 78, 'c'], True, 'ineuron', 'jeygey', 4736732]

In [124]:
#in is used to find elements in a list

True in l

True

In [125]:
345 in l

False

In [126]:
#To extract the biggest element
print(max([2,3,4,5]))

5

In [127]:
#max function will not work good with the combination of str and int
max(["akha", "kdjfeuoq", 23874])

TypeError: '>' not supported between instances of 'int' and 'str'

In [128]:
max(["akha", "kdjfeuoq", "AI", "z"])

'z'

In [129]:
min([74, 493, 9584,])

74

In [130]:
min(["kjdhsd","kfh","wqrq"])

'kfh'

In [131]:
#Append method: Add data *at the end* of the list, It takes only 1 element at a time.

l = [1,2,3,4]
l.append("hbfdf")

In [132]:
l

[1, 2, 3, 4, 'hbfdf']

In [133]:
#But we can append more than 1 element using this method in the form of a list
l.append([3,5,6,76])

In [134]:
l

[1, 2, 3, 4, 'hbfdf', [3, 5, 6, 76]]

In [135]:
#Insert operation: Append data at any specific indexes.
l

[1, 2, 3, 4, 'hbfdf', [3, 5, 6, 76]]

In [136]:
l.insert(3, "Penn")

#Insert Penn at 3rd position, and shifts it by 1

In [137]:
l

[1, 2, 3, 'Penn', 4, 'hbfdf', [3, 5, 6, 76]]

In [138]:
l.insert(-1, "test")

In [139]:
l
#It inserts the given element at any position given before the indexes.

[1, 2, 3, 'Penn', 4, 'hbfdf', 'test', [3, 5, 6, 76]]

In [140]:
l.insert(-1, "test2")

In [141]:
l

[1, 2, 3, 'Penn', 4, 'hbfdf', 'test', 'test2', [3, 5, 6, 76]]

In [142]:
l.insert(-1, "test3")

In [143]:
l

[1, 2, 3, 'Penn', 4, 'hbfdf', 'test', 'test2', 'test3', [3, 5, 6, 76]]

In [144]:
#count method is used to calcuate how many times an element is repeated.
l.count("test")

1

In [145]:
#extend operation:

l = [1,2,3,4]

In [146]:
l.append("Penn")
l

[1, 2, 3, 4, 'Penn']

In [147]:
l.append([132,43,445,3])

In [148]:
l

[1, 2, 3, 4, 'Penn', [132, 43, 445, 3]]

In [149]:
l.extend("test1")

In [150]:
l

[1, 2, 3, 4, 'Penn', [132, 43, 445, 3], 't', 'e', 's', 't', '1']

In [151]:
s = "test1"
list(s)

['t', 'e', 's', 't', '1']

In [152]:
l.extend(45)

TypeError: 'int' object is not iterable

In [153]:
l.extend([74,5,78])

In [154]:
l

[1, 2, 3, 4, 'Penn', [132, 43, 445, 3], 't', 'e', 's', 't', '1', 74, 5, 78]

#Extend will merge two lists together


"""Append                                  Extend
 Can take any object                       Will only take the iterable object
 Any datatype is inserted as it is         Extend will unravel it, unwrap it and merge it inside the e
 Can give integer inside this              Cant give int, as int is an uniterable object"""

In [155]:
#Index will give you the first occurence of element specified(Eg: It is 3 here)

l.index(3)

2

In [156]:
l

[1, 2, 3, 4, 'Penn', [132, 43, 445, 3], 't', 'e', 's', 't', '1', 74, 5, 78]

In [157]:
#l.pop():Pop out the last item in a list permanently

l.pop()

78

In [158]:
l

[1, 2, 3, 4, 'Penn', [132, 43, 445, 3], 't', 'e', 's', 't', '1', 74, 5]

In [159]:
l.pop(0)

1

In [160]:
l

[2, 3, 4, 'Penn', [132, 43, 445, 3], 't', 'e', 's', 't', '1', 74, 5]

In [161]:
l.remove(4)

In [162]:
l

[2, 3, 'Penn', [132, 43, 445, 3], 't', 'e', 's', 't', '1', 74, 5]

In [163]:
l = [1,2,3,4,4,4,4,4]
l.remove(4)

In [164]:
l

[1, 2, 3, 4, 4, 4, 4]

#.remove will only remove the 1st occurence of repeated elements in a list

#.pop, remove the data based on indexes and .remove, will remove data matching that we have in the list

In [165]:
l.reverse()

#Permanently reverse the order

In [166]:
l

[4, 4, 4, 4, 3, 2, 1]

In [167]:
l = [23,324,4,34,34,"dsfhf", "skjfhef"]

In [168]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [169]:
l = [23,324,4,34,34]
l

[23, 324, 4, 34, 34]

In [170]:
l.sort()

In [171]:
 l

[4, 23, 34, 34, 324]

QUESTIONS

l = [ [ ] [ ] [ ] ]

1. Append 2 more lists and 1 more complex number in between the existing list
2. If your nested list contains a string then find out its index in the nested list and then print it and remove the string.
3. Extract the second element of the nested list

In [172]:
l = [[1, 2, "Penn"], ["sdfgsd", 46 + 6j, 3847], [1,2,3]]
l.insert(2, ([45,46,47],[346,137], 45+4j))

In [173]:
l

[[1, 2, 'Penn'],
 ['sdfgsd', (46+6j), 3847],
 ([45, 46, 47], [346, 137], (45+4j)),
 [1, 2, 3]]

In [174]:
l.index([1, 2, 'Penn'])

0

In [175]:
l[0][2]

'Penn'

In [176]:
l = [[1,2,3], [11,23, "b", "b", "b"], [21, "t", 23]]

In [177]:
l

[[1, 2, 3], [11, 23, 'b', 'b', 'b'], [21, 't', 23]]

In [178]:
for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The index of {} in the nested list is".format (i[j]), j)
            j = j + 1

The index of b in the nested list is 2
The index of b in the nested list is 3
The index of b in the nested list is 4
The index of t in the nested list is 1

In [179]:
l

[[1, 2, 3], [11, 23, 'b', 'b', 'b'], [21, 't', 23]]

In [180]:
for i in l:
    if type(i) == list:
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                i.remove(i[j])
                continue
            j = j + 1
print("The new list is", l)

The new list is [[1, 2, 3], [11, 23], [21, 23]]

In [181]:
#Using Count Method

In [182]:
#Taking the input from user and trying to make in the form of a list

In [186]:
l = []
for i in range(5):
    l.append(int(input()))
print(l)

3
4
5
6
7
[3, 4, 5, 6, 7]

# List Comprehension

In [192]:
#Suppose we have to append some data inside this list

In [193]:
l = [1,2,3,4,5]

In [194]:
l1 = []

In [195]:
for i in "Penn":
    l1.append(i)

In [196]:
l1

['P', 'e', 'n', 'n']

In [197]:
#Using List comprehension method

In [198]:
[i for i in "Penn"]

['P', 'e', 'n', 'n']

In [199]:
#List of list
[[i] for i in "Penn"]

[['P'], ['e'], ['n'], ['n']]

In [200]:
#Appending even numbers

In [201]:
#Conventional method

In [202]:
l = []
for i in range(10):
    if i%2 == 0:
        l.append(i)

In [203]:
l

[0, 2, 4, 6, 8]

In [205]:
#Using list comprehension

In [206]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [207]:
#Other example :
l = []
for i in range (10):
    if i%2 != 0:
        l.append("odd")
    else:
        l.append("even")

In [208]:
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [209]:
#Using LC:

In [210]:
["odd" if i%2 != 0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [211]:
#Creating a nested list

mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [212]:
#Using LC:

[[j for j in range (3)] for i in range (3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [213]:
#Checking for multiple condition
[i for i in range(8) if i%2 == 0 if i%3 == 0 ]

[0, 6]

In [214]:
l = []
for i in range(8):
    if i%2 == 0:
        if i%3 == 0:
            l.append(i)

In [215]:
l

[0, 6]

In [216]:
l = []
for i in range(10):
    l.append(i)

In [217]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [218]:
#Above example using LC:
["yes" if i == 1 else "no" if i == 2 else "test" for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [219]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [221]:
res = []
for i in l:
    if i == 1:
        res.append("yes")
    elif i == 2:
        res.append("no")
    else:
        res.append("test")
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']