# Tuple

In [1]:
#Extension to lists

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []
type(l)

list

In [4]:
t1 = (21, 445, "sgdh", 3.45, True)

In [5]:
l1 = [21, 445, "sgdh", 3.45, True]

In [6]:
t1[0]

21

In [7]:
#Slicing of tuple data: Same as list

In [8]:
t1[0:4]

(21, 445, 'sgdh', 3.45)

In [9]:
t1[::-1]

(True, 3.45, 'sgdh', 445, 21)

In [10]:
t1[-1]

True

In [11]:
#List is a mutable entity
l1[0] = "Penn"

In [12]:
l1

['Penn', 445, 'sgdh', 3.45, True]

In [13]:
#Tuple instead is a immutatble entity:Item reassignment is not possible on the already occupied location 

t1[0] = "Penn"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t2 = (24,5,6,74654)

In [14]:
"""Even though the tuples are  immutable but the append operation is possible because,
the assignment of t1 is done at a new location""" 
t1+t2

NameError: name 't2' is not defined

In [15]:
24 in t2

NameError: name 't2' is not defined

In [16]:
"tdfshgda" in t2

NameError: name 't2' is not defined

In [17]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
t3 = (23,4543,435,45)

In [19]:
max(t3)

4543

In [20]:
t4 = ("djfhge", "dkeu", "dhf")

In [21]:
max(t4)

'dkeu'

In [22]:
min(t4)

'dhf'

In [23]:
t = ()

In [24]:
t

()

In [25]:
#Insert an element at a specific position in a tuple


t1 = (234, 34, "sudh", 3.45, 34, 34, True)

In [26]:
t1

(234, 34, 'sudh', 3.45, 34, 34, True)

In [27]:
t6 = 56

In [30]:
#1 Conversion of tuple into a list 

l5 = list(t1)
l5

[234, 34, 'sudh', 3.45, 34, 34, True]

In [29]:
#2 Insert the elemet at a specified index 

l5.insert(3, t6)

In [31]:
l5

[234, 34, 'sudh', 56, 3.45, 34, 34, True]

In [32]:
#3 Conversion of list back into a tuple

In [33]:
tuple(l5)

(234, 34, 'sudh', 56, 3.45, 34, 34, True)

In [34]:
t = ((3,4,5,6), ("chdbsh", 32.2,32), (832,200,"hsbc"), 45, 454, 67, [382,309,30])

In [35]:
t[6]

[382, 309, 30]

In [36]:
t[6][1]

309

In [37]:
t[6][0:4]

[382, 309, 30]

In [18]:
for i in t:
    print(i)

(3, 4, 5, 6)
('chdbsh', 32.2, 32)
(832, 200, 'hsbc')
45
454
67
[382, 309, 30]

In [21]:
for i in t:
    if type(i) == tuple:
        print(i[0])

3
chdbsh
832

In [22]:
t1

(234, 34, 'sudh', 3.45, 34, 34, True)

In [26]:
t2 = (234,32,32)

In [25]:
t2

(234, 32, 32)

In [29]:
if len(t1) == len(t2):
    print("Its same")
else:
    print("Not same")

Not same

In [33]:
t = (234, 34, "sudh", 3.45, 34, 34, 34, True, "Kumar")

i = input("Take a user input: ").lower()

if i in t:
    print("Yes, your name is available")
else:
    print("Your name is not available")

Take a user input: Sudh
Yes, your name is available

In [34]:
t1

(234, 34, 'sudh', 3.45, 34, 34, True)

In [36]:
l1 = [83274.,4,43,553]

In [37]:
l1

[83274.0, 4, 43, 553]

In [38]:
del(t1)

In [39]:
t1

NameError: name 't1' is not defined

In [40]:
del(l1)

In [41]:
l1

NameError: name 'l1' is not defined

In [1]:
l = [323, 87,4094]

In [2]:
#insert, pop,append, remove options are not available in tuples like lists. Tuples only have count, index method

# Set

In [3]:
x = set()

In [4]:
type(x)

set

In [18]:
l = [2,2,2,4,7,8,8,"Penn", "Bajwa", 45676, 45, True, True, "Penn"]

In [19]:
s = set(l)

In [20]:
s

{2, 4, 45, 45676, 7, 8, 'Bajwa', 'Penn', True}

In [21]:
#Set: Is used to generate unique values in a list, eliminating the duplicates. Case sensative . Unordered/Unsorted

In [22]:
s

{2, 4, 45, 45676, 7, 8, 'Bajwa', 'Penn', True}

In [23]:
for i in s:
    print(i)

Bajwa
True
2
4
Penn
7
8
45676
45

In [24]:
34 in s

False

In [25]:
2 in s

True

In [26]:
#Indexing operation doesnt work in set
s[0]

TypeError: 'set' object is not subscriptable

In [27]:
s(0)

TypeError: 'set' object is not callable

In [28]:
#Set gives unsorted/unordered data 
s

{2, 4, 45, 45676, 7, 8, 'Bajwa', 'Penn', True}

In [29]:
#Functions available inside the set

In [30]:
s = set()
s

set()

In [31]:
s.add(45)

In [32]:
s.add("Penn")

In [33]:
s.add("Bajwa")

In [34]:
s.add(67)

In [35]:
s

{45, 67, 'Bajwa', 'Penn'}

In [36]:
#Cant add a list inside the set 
s.add([2,3,8])

TypeError: unhashable type: 'list'

In [46]:
l = [1,2,3]

In [48]:
s = set(l)
s

{1, 2, 3}

In [49]:
#Dataset needs to be unwrapped for comparison to undergo set operations, Nested list here will give an issue

l1 = [2, 2, 2, 4, 7, 8, 8, 'Penn', 'Bajwa', 45676, 45, True, True, 'Penn', [1,2,3]]

In [50]:
s = set(l1)

TypeError: unhashable type: 'list'

In [51]:
#Set will only add the data which is not available in the dataset. If already present, it wont add, example:

s

{1, 2, 3}

In [52]:
s.add(2)

In [53]:
#(Didnot add 2 again)
s

{1, 2, 3}

In [54]:
s.add(4)

In [56]:
#Did add 4 again
s

{1, 2, 3, 4}

In [57]:
s.remove(2)

In [58]:
s

{1, 3, 4}

In [59]:
s.remove(45)

KeyError: 45

In [60]:
45 in s

False

In [61]:
#.clear wipes out all the data in a set

s.clear()

In [62]:
s

set()

In [6]:
l = [1,2,3, "Penn"]

In [7]:
s = set(l4)

In [8]:
s

{1, 2, 3, 'Penn'}

In [9]:
l2 = [67,"Bajwa", 90, True]

In [10]:
s1 = set(l2)

In [11]:
s1

{67, 90, 'Bajwa', True}

In [13]:
#Operations allowed inside a list and tuple is not allowed inside set

s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [14]:
s*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [15]:
#Inorder to perform the operand options, one has to convert a set into a list

In [27]:
s

{1, 2, 3, 'Penn'}

In [28]:
l = list(s)
l

[1, 2, 3, 'Penn']

In [29]:
#Now you can perform the append operations

In [30]:
l.append("Bajwa")

In [31]:
l.append(5)

In [32]:
l

[1, 2, 3, 'Penn', 'Bajwa', 5]

In [33]:
t4 = tuple(l)

In [34]:
t4

(1, 2, 3, 'Penn', 'Bajwa', 5)

In [35]:
set(t4)

{1, 2, 3, 5, 'Bajwa', 'Penn'}

In [36]:
#Indexing is not possible in sets 
s[0]

TypeError: 'set' object is not subscriptable

# Dictionaries

In [34]:
x = {}

In [35]:
type(x)

dict

In [36]:
x1 = {34,45}

In [37]:
type(x1)

set

In [38]:
#Set and dictionaries both give you a output into curly braces , It depends upon the nature of element being held inside. 
#Only the way we are going to hold the data in the dict, will change

In [39]:
#Dict holds a data in the form of {Key, Value} pair

In [40]:
x = {"name": 'Penn', 'age': 17 }

In [41]:
type(x)

dict

In [42]:
#Key can be a string,boolean value,Integers

x1 = {"name": 'Penn', 'age': 17, "name": 'Bajwa', 'true': "shasdh", 'Key': False, 484:9328 }

In [43]:
x1

{'name': 'Bajwa', 'age': 17, 'true': 'shasdh', 'Key': False, 484: 9328}

In [44]:
#Here we stored data using same key "name" twice, but the dict has chosen the second occurence

In [45]:
x2 = {"name": 'Penn', 'age': 17, "name": 'Bajwa', 'true': "shasdh", 'Key': False, 484:9328 }

In [46]:
#Value as set,list,tuple = Possible

In [47]:
x = {"name": [1,2,3,4], 'age': {"sdsjfh",12,3}, "dob": ("efe","Ea", True)}

In [48]:
x

{'name': [1, 2, 3, 4], 'age': {12, 3, 'sdsjfh'}, 'dob': ('efe', 'Ea', True)}

In [49]:
#Dictionary inside a dictionary

In [50]:
x = {"name": {"k1": [1,2,3,4], "nam": "Penn"} , 'age': {"sdsjfh",12,3}, "dob": ("efe","Ea", True)}

In [51]:
x

{'name': {'k1': [1, 2, 3, 4], 'nam': 'Penn'},
 'age': {12, 3, 'sdsjfh'},
 'dob': ('efe', 'Ea', True)}

In [52]:
#In key values, special case characters and lists are not allowed

In [53]:
x = {[1,2,3]:"zdjkhz", "k1": [1,2,3,4], "nam": "Penn"}

TypeError: unhashable type: 'list'

In [54]:
#Tuples are allowed as key values

In [55]:
x = {(1,2,3): "afjeh", "k1": [1,2,3,4], "nam": "Penn"} 
x

{(1, 2, 3): 'afjeh', 'k1': [1, 2, 3, 4], 'nam': 'Penn'}

In [56]:
x2 = {"name": {"k1": [1,2,3,4], "nam": "Penn"} , 'age': ["sdsjfh",12,3], "dob":("efe","Ea", True)}
x2

{'name': {'k1': [1, 2, 3, 4], 'nam': 'Penn'},
 'age': ['sdsjfh', 12, 3],
 'dob': ('efe', 'Ea', True)}

In [57]:
l = [342,43,5,34]

In [58]:
#In a list the index value acts as a key and the corresponding element/data at that position acts as the value.

l[2]

5

In [59]:
#In a dictionatry the key value here acts as a index and the corresponding value acts as the data extrated by providing the key as it is. 

x2["age"]

['sdsjfh', 12, 3]

In [60]:
#Getting the nested dict by providing the kay name 

x2["name"]

{'k1': [1, 2, 3, 4], 'nam': 'Penn'}

In [61]:
x2["age"][2]

3

In [62]:
x2

{'name': {'k1': [1, 2, 3, 4], 'nam': 'Penn'},
 'age': ['sdsjfh', 12, 3],
 'dob': ('efe', 'Ea', True)}

In [63]:
x2["name"]["k1"]

[1, 2, 3, 4]

In [64]:
x2["name"]["k1"][3]

4

In [65]:
x

{(1, 2, 3): 'afjeh', 'k1': [1, 2, 3, 4], 'nam': 'Penn'}

In [66]:
x2

{'name': {'k1': [1, 2, 3, 4], 'nam': 'Penn'},
 'age': ['sdsjfh', 12, 3],
 'dob': ('efe', 'Ea', True)}

In [67]:
x + x2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [68]:
x1*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [43]:
#Assignment operations: Where we replae the value of one element into another: Possible in a dict
#Therefore we can say that list is a mutable entity

In [45]:
x

{(1, 2, 3): 'afjeh', 'k1': [1, 2, 3, 4], 'nam': 'Penn'}

In [46]:
x["nam"]

'Penn'

In [47]:
x["nam"] = "Bajwa"

In [48]:
x

{(1, 2, 3): 'afjeh', 'k1': [1, 2, 3, 4], 'nam': 'Bajwa'}

In [49]:
x

{(1, 2, 3): 'afjeh', 'k1': [1, 2, 3, 4], 'nam': 'Bajwa'}

In [50]:
x["k1"] = 456

In [51]:
x

{(1, 2, 3): 'afjeh', 'k1': 456, 'nam': 'Bajwa'}

In [52]:
x["k1"] -= 10

In [53]:
x

{(1, 2, 3): 'afjeh', 'k1': 446, 'nam': 'Bajwa'}

In [54]:
 #Functions in a dict: Press tab after writing x.

In [55]:
x.keys()

dict_keys([(1, 2, 3), 'k1', 'nam'])

In [56]:
"nam" in x.keys()

True

In [58]:
"kjyegf" in x.keys()

False

In [59]:
x.keys()

dict_keys([(1, 2, 3), 'k1', 'nam'])

In [60]:
#To get Keys of a dict

for i in x:
    print(i)

(1, 2, 3)
k1
nam

In [61]:
#To get values of a dict

for i in x.keys():
    print(x[i])

afjeh
446
Bajwa

In [63]:
x2

{'name': {'k1': [1, 2, 3, 4], 'nam': 'Penn'},
 'age': ['sdsjfh', 12, 3],
 'dob': ('efe', 'Ea', True)}

In [64]:
x2.keys()

dict_keys(['name', 'age', 'dob'])

In [65]:

for i in x.keys():
    print(type(x[i]))

<class 'str'>
<class 'int'>
<class 'str'>

In [66]:
#Return dict element in a list of tuples

x.items()

dict_items([((1, 2, 3), 'afjeh'), ('k1', 446), ('nam', 'Bajwa')])

In [68]:
#Printing all keys out of the above tuples:

for i in x2.items():
    print(i[0])

name
age
dob

In [69]:
x5 = {(34,54,65): "fjzhs"}

In [70]:
x5[(34,54,65)]

'fjzhs'

In [71]:
x

{(1, 2, 3): 'afjeh', 'k1': 446, 'nam': 'Bajwa'}

In [72]:
#len tells the number of key:value pairs
len(x)

3

In [69]:
#Q: Extract 554 from dict

e = {56: {56,67,554}}

In [70]:
e[56]

{56, 67, 554}

In [77]:
l = list(e[56])[1]
l

554

Q: Take input as a paragraph by using input function 

    1. Convert all of this input into list
    2. Remove all the duplicate element from your list
    3. Use above distinct element as a key for dictionary and assign your name as a value of all the key for dictionary
    4. Print tuple of all the values
    5. Try to print list of all key

In [4]:
x = input("Enter the Paragraph: ")

Enter the Paragraph: In word processing and desktop publishing, a hard return or paragraph break indicates a new paragraph, to be distinguished from the soft return at the end of a line internal to a paragraph. This distinction allows word wrap to automatically re-flow text as it is edited, without losing paragraph breaks. The software may apply vertical white space or indenting at paragraph breaks, depending on the selected style.  How such documents are actually stored depends on the file format. For example, HTML uses the <p> tag as a paragraph container. In plaintext files, there are two common formats. The pre-formatted text will have a newline at the end of every physical line, and two newlines at the end of a paragraph, creating a blank line. An alternative is to only put newlines at the end of each paragraph, and leave word wrapping up to the application that displays or processes the text.

In [5]:
#For splitting data into list of words:

l = x.split(" ")
l

['In',
 'word',
 'processing',
 'and',
 'desktop',
 'publishing,',
 'a',
 'hard',
 'return',
 'or',
 'paragraph',
 'break',
 'indicates',
 'a',
 'new',
 'paragraph,',
 'to',
 'be',
 'distinguished',
 'from',
 'the',
 'soft',
 'return',
 'at',
 'the',
 'end',
 'of',
 'a',
 'line',
 'internal',
 'to',
 'a',
 'paragraph.',
 'This',
 'distinction',
 'allows',
 'word',
 'wrap',
 'to',
 'automatically',
 're-flow',
 'text',
 'as',
 'it',
 'is',
 'edited,',
 'without',
 'losing',
 'paragraph',
 'breaks.',
 'The',
 'software',
 'may',
 'apply',
 'vertical',
 'white',
 'space',
 'or',
 'indenting',
 'at',
 'paragraph',
 'breaks,',
 'depending',
 'on',
 'the',
 'selected',
 'style.',
 '',
 'How',
 'such',
 'documents',
 'are',
 'actually',
 'stored',
 'depends',
 'on',
 'the',
 'file',
 'format.',
 'For',
 'example,',
 'HTML',
 'uses',
 'the',
 '<p>',
 'tag',
 'as',
 'a',
 'paragraph',
 'container.',
 'In',
 'plaintext',
 'files,',
 'there',
 'are',
 'two',
 'common',
 'formats.',
 'The',
 'pre-formatted',
 'text',
 'will',
 'have',
 'a',
 'newline',
 'at',
 'the',
 'end',
 'of',
 'every',
 'physical',
 'line,',
 'and',
 'two',
 'newlines',
 'at',
 'the',
 'end',
 'of',
 'a',
 'paragraph,',
 'creating',
 'a',
 'blank',
 'line.',
 'An',
 'alternative',
 'is',
 'to',
 'only',
 'put',
 'newlines',
 'at',
 'the',
 'end',
 'of',
 'each',
 'paragraph,',
 'and',
 'leave',
 'word',
 'wrapping',
 'up',
 'to',
 'the',
 'application',
 'that',
 'displays',
 'or',
 'processes',
 'the',
 'text.']

In [9]:
s = set(l)

In [10]:
s

{'',
 '<p>',
 'An',
 'For',
 'HTML',
 'How',
 'In',
 'The',
 'This',
 'a',
 'actually',
 'allows',
 'alternative',
 'and',
 'application',
 'apply',
 'are',
 'as',
 'at',
 'automatically',
 'be',
 'blank',
 'break',
 'breaks,',
 'breaks.',
 'common',
 'container.',
 'creating',
 'depending',
 'depends',
 'desktop',
 'displays',
 'distinction',
 'distinguished',
 'documents',
 'each',
 'edited,',
 'end',
 'every',
 'example,',
 'file',
 'files,',
 'format.',
 'formats.',
 'from',
 'hard',
 'have',
 'indenting',
 'indicates',
 'internal',
 'is',
 'it',
 'leave',
 'line',
 'line,',
 'line.',
 'losing',
 'may',
 'new',
 'newline',
 'newlines',
 'of',
 'on',
 'only',
 'or',
 'paragraph',
 'paragraph,',
 'paragraph.',
 'physical',
 'plaintext',
 'pre-formatted',
 'processes',
 'processing',
 'publishing,',
 'put',
 're-flow',
 'return',
 'selected',
 'soft',
 'software',
 'space',
 'stored',
 'style.',
 'such',
 'tag',
 'text',
 'text.',
 'that',
 'the',
 'there',
 'to',
 'two',
 'up',
 'uses',
 'vertical',
 'white',
 'will',
 'without',
 'word',
 'wrap',
 'wrapping'}

In [12]:
d = dict.fromkeys(s, "Penn")

In [13]:
d

{'': 'Penn',
 'such': 'Penn',
 'In': 'Penn',
 'break': 'Penn',
 'software': 'Penn',
 'text': 'Penn',
 'The': 'Penn',
 'breaks.': 'Penn',
 'there': 'Penn',
 'leave': 'Penn',
 'vertical': 'Penn',
 'have': 'Penn',
 'the': 'Penn',
 'paragraph': 'Penn',
 'processing': 'Penn',
 're-flow': 'Penn',
 'paragraph,': 'Penn',
 'as': 'Penn',
 'white': 'Penn',
 'two': 'Penn',
 'every': 'Penn',
 'example,': 'Penn',
 'selected': 'Penn',
 'new': 'Penn',
 'An': 'Penn',
 'soft': 'Penn',
 'publishing,': 'Penn',
 'will': 'Penn',
 'depends': 'Penn',
 'desktop': 'Penn',
 'is': 'Penn',
 'files,': 'Penn',
 'losing': 'Penn',
 'may': 'Penn',
 'line': 'Penn',
 'style.': 'Penn',
 'of': 'Penn',
 'common': 'Penn',
 'uses': 'Penn',
 'allows': 'Penn',
 'up': 'Penn',
 'apply': 'Penn',
 'at': 'Penn',
 'without': 'Penn',
 'This': 'Penn',
 'internal': 'Penn',
 'be': 'Penn',
 'plaintext': 'Penn',
 'it': 'Penn',
 'formats.': 'Penn',
 'pre-formatted': 'Penn',
 'to': 'Penn',
 'line.': 'Penn',
 'distinguished': 'Penn',
 'indenting': 'Penn',
 'indicates': 'Penn',
 'distinction': 'Penn',
 'paragraph.': 'Penn',
 'only': 'Penn',
 'on': 'Penn',
 'or': 'Penn',
 'put': 'Penn',
 '<p>': 'Penn',
 'newline': 'Penn',
 'and': 'Penn',
 'physical': 'Penn',
 'actually': 'Penn',
 'stored': 'Penn',
 'wrap': 'Penn',
 'depending': 'Penn',
 'that': 'Penn',
 'end': 'Penn',
 'breaks,': 'Penn',
 'blank': 'Penn',
 'line,': 'Penn',
 'application': 'Penn',
 'from': 'Penn',
 'space': 'Penn',
 'edited,': 'Penn',
 'return': 'Penn',
 'file': 'Penn',
 'alternative': 'Penn',
 'automatically': 'Penn',
 'newlines': 'Penn',
 'For': 'Penn',
 'creating': 'Penn',
 'tag': 'Penn',
 'word': 'Penn',
 'documents': 'Penn',
 'each': 'Penn',
 'a': 'Penn',
 'HTML': 'Penn',
 'container.': 'Penn',
 'How': 'Penn',
 'displays': 'Penn',
 'text.': 'Penn',
 'hard': 'Penn',
 'wrapping': 'Penn',
 'format.': 'Penn',
 'processes': 'Penn',
 'are': 'Penn'}

In [14]:
t = d.items()

In [15]:
t

dict_items([('', 'Penn'), ('such', 'Penn'), ('In', 'Penn'), ('break', 'Penn'), ('software', 'Penn'), ('text', 'Penn'), ('The', 'Penn'), ('breaks.', 'Penn'), ('there', 'Penn'), ('leave', 'Penn'), ('vertical', 'Penn'), ('have', 'Penn'), ('the', 'Penn'), ('paragraph', 'Penn'), ('processing', 'Penn'), ('re-flow', 'Penn'), ('paragraph,', 'Penn'), ('as', 'Penn'), ('white', 'Penn'), ('two', 'Penn'), ('every', 'Penn'), ('example,', 'Penn'), ('selected', 'Penn'), ('new', 'Penn'), ('An', 'Penn'), ('soft', 'Penn'), ('publishing,', 'Penn'), ('will', 'Penn'), ('depends', 'Penn'), ('desktop', 'Penn'), ('is', 'Penn'), ('files,', 'Penn'), ('losing', 'Penn'), ('may', 'Penn'), ('line', 'Penn'), ('style.', 'Penn'), ('of', 'Penn'), ('common', 'Penn'), ('uses', 'Penn'), ('allows', 'Penn'), ('up', 'Penn'), ('apply', 'Penn'), ('at', 'Penn'), ('without', 'Penn'), ('This', 'Penn'), ('internal', 'Penn'), ('be', 'Penn'), ('plaintext', 'Penn'), ('it', 'Penn'), ('formats.', 'Penn'), ('pre-formatted', 'Penn'), ('to', 'Penn'), ('line.', 'Penn'), ('distinguished', 'Penn'), ('indenting', 'Penn'), ('indicates', 'Penn'), ('distinction', 'Penn'), ('paragraph.', 'Penn'), ('only', 'Penn'), ('on', 'Penn'), ('or', 'Penn'), ('put', 'Penn'), ('<p>', 'Penn'), ('newline', 'Penn'), ('and', 'Penn'), ('physical', 'Penn'), ('actually', 'Penn'), ('stored', 'Penn'), ('wrap', 'Penn'), ('depending', 'Penn'), ('that', 'Penn'), ('end', 'Penn'), ('breaks,', 'Penn'), ('blank', 'Penn'), ('line,', 'Penn'), ('application', 'Penn'), ('from', 'Penn'), ('space', 'Penn'), ('edited,', 'Penn'), ('return', 'Penn'), ('file', 'Penn'), ('alternative', 'Penn'), ('automatically', 'Penn'), ('newlines', 'Penn'), ('For', 'Penn'), ('creating', 'Penn'), ('tag', 'Penn'), ('word', 'Penn'), ('documents', 'Penn'), ('each', 'Penn'), ('a', 'Penn'), ('HTML', 'Penn'), ('container.', 'Penn'), ('How', 'Penn'), ('displays', 'Penn'), ('text.', 'Penn'), ('hard', 'Penn'), ('wrapping', 'Penn'), ('format.', 'Penn'), ('processes', 'Penn'), ('are', 'Penn')])

In [16]:
l2 = d.keys()

In [17]:
l2

dict_keys(['', 'such', 'In', 'break', 'software', 'text', 'The', 'breaks.', 'there', 'leave', 'vertical', 'have', 'the', 'paragraph', 'processing', 're-flow', 'paragraph,', 'as', 'white', 'two', 'every', 'example,', 'selected', 'new', 'An', 'soft', 'publishing,', 'will', 'depends', 'desktop', 'is', 'files,', 'losing', 'may', 'line', 'style.', 'of', 'common', 'uses', 'allows', 'up', 'apply', 'at', 'without', 'This', 'internal', 'be', 'plaintext', 'it', 'formats.', 'pre-formatted', 'to', 'line.', 'distinguished', 'indenting', 'indicates', 'distinction', 'paragraph.', 'only', 'on', 'or', 'put', '<p>', 'newline', 'and', 'physical', 'actually', 'stored', 'wrap', 'depending', 'that', 'end', 'breaks,', 'blank', 'line,', 'application', 'from', 'space', 'edited,', 'return', 'file', 'alternative', 'automatically', 'newlines', 'For', 'creating', 'tag', 'word', 'documents', 'each', 'a', 'HTML', 'container.', 'How', 'displays', 'text.', 'hard', 'wrapping', 'format.', 'processes', 'are'])

In [18]:
#Another way

In [19]:
lst = x.split(" ")

In [20]:
st = set(lst)

In [21]:
my_dict = {}
for i in st:
    my_dict[i] = "Penn"
my_dict

{'': 'Penn',
 'such': 'Penn',
 'In': 'Penn',
 'break': 'Penn',
 'software': 'Penn',
 'text': 'Penn',
 'The': 'Penn',
 'breaks.': 'Penn',
 'there': 'Penn',
 'leave': 'Penn',
 'vertical': 'Penn',
 'have': 'Penn',
 'the': 'Penn',
 'paragraph': 'Penn',
 'processing': 'Penn',
 're-flow': 'Penn',
 'paragraph,': 'Penn',
 'as': 'Penn',
 'white': 'Penn',
 'two': 'Penn',
 'every': 'Penn',
 'example,': 'Penn',
 'selected': 'Penn',
 'new': 'Penn',
 'An': 'Penn',
 'soft': 'Penn',
 'publishing,': 'Penn',
 'will': 'Penn',
 'depends': 'Penn',
 'desktop': 'Penn',
 'is': 'Penn',
 'files,': 'Penn',
 'losing': 'Penn',
 'may': 'Penn',
 'line': 'Penn',
 'style.': 'Penn',
 'of': 'Penn',
 'common': 'Penn',
 'uses': 'Penn',
 'allows': 'Penn',
 'up': 'Penn',
 'apply': 'Penn',
 'at': 'Penn',
 'without': 'Penn',
 'This': 'Penn',
 'internal': 'Penn',
 'be': 'Penn',
 'plaintext': 'Penn',
 'it': 'Penn',
 'formats.': 'Penn',
 'pre-formatted': 'Penn',
 'to': 'Penn',
 'line.': 'Penn',
 'distinguished': 'Penn',
 'indenting': 'Penn',
 'indicates': 'Penn',
 'distinction': 'Penn',
 'paragraph.': 'Penn',
 'only': 'Penn',
 'on': 'Penn',
 'or': 'Penn',
 'put': 'Penn',
 '<p>': 'Penn',
 'newline': 'Penn',
 'and': 'Penn',
 'physical': 'Penn',
 'actually': 'Penn',
 'stored': 'Penn',
 'wrap': 'Penn',
 'depending': 'Penn',
 'that': 'Penn',
 'end': 'Penn',
 'breaks,': 'Penn',
 'blank': 'Penn',
 'line,': 'Penn',
 'application': 'Penn',
 'from': 'Penn',
 'space': 'Penn',
 'edited,': 'Penn',
 'return': 'Penn',
 'file': 'Penn',
 'alternative': 'Penn',
 'automatically': 'Penn',
 'newlines': 'Penn',
 'For': 'Penn',
 'creating': 'Penn',
 'tag': 'Penn',
 'word': 'Penn',
 'documents': 'Penn',
 'each': 'Penn',
 'a': 'Penn',
 'HTML': 'Penn',
 'container.': 'Penn',
 'How': 'Penn',
 'displays': 'Penn',
 'text.': 'Penn',
 'hard': 'Penn',
 'wrapping': 'Penn',
 'format.': 'Penn',
 'processes': 'Penn',
 'are': 'Penn'}

In [23]:
tup_list = []
for i in my_dict.keys():
    tup_list.append(my_dict[i])
print(tuple(tup_list))

('Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn', 'Penn')

In [1]:
d = {"company": "ineuron", "course": "full stack data science course", "year":2021}

In [3]:
for i in d:
    print("Print a key:", i , "and Value wise:", d[i])

Print a key: company and Value wise:  ineuron
Print a key: course and Value wise:  full stack data science course
Print a key: year and Value wise:  2021

In [6]:
"course" in d

True

In [7]:
for i in d:
    if i == "year":
        if d[i] > 2021:
            print("year is fine")
        else:
            d[i] = 2022

In [8]:
d

{'company': 'ineuron',
 'course': 'full stack data science course',
 'year': 2022}

In [9]:
#Dictionary Comprehension

In [10]:
#Q: Create a dictionary where the key is a number and value is square of key

In [11]:
#Normal:

my_dict = {}

for i in range(10):
    my_dict[i] = i*i

In [12]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [14]:
#Using LC:

{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [15]:
{i:i*i for i in range(0,10,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [5]:
x1 = {"name": 'Penn', 'age': 17, "name": 'Bajwa', 'true': "shasdh", 'Key': False, 484:9328 }
x1["Penn"] = "Pagal"

In [44]:
for i in x1:
    if i == "age":
        if x1[i] < 17:
            x1[i] = 18

In [45]:
x1

{'name': 'Bajwa',
 'age': 17,
 'true': 'shasdh',
 'Key': False,
 484: 9328,
 'Penn': 'Pagal'}

In [13]:
for i in x1.keys():
    print(i, x1[i], type(i), type(x1[i]))

name Bajwa <class 'str'> <class 'str'>
age 17 <class 'str'> <class 'int'>
true shasdh <class 'str'> <class 'str'>
Key False <class 'str'> <class 'bool'>
484 9328 <class 'int'> <class 'int'>
Penn Pagal <class 'str'> <class 'str'>

In [14]:
x1.items()

dict_items([('name', 'Bajwa'), ('age', 17), ('true', 'shasdh'), ('Key', False), (484, 9328), ('Penn', 'Pagal')])

In [29]:
e = {56: {34,33333333333,333,33}}

In [30]:
e[56]

{33, 34, 333, 33333333333}

In [33]:
l = list(e[56])[0]

In [34]:
l

33

In [43]:
l = ["I", "love", "this"]
v = [3,4,5]
t = dict.fromkeys(l,v)
t.items()
#t.keys()
#t.values()

dict_items([('I', [3, 4, 5]), ('love', [3, 4, 5]), ('this', [3, 4, 5])])