In [1]:
#and condition
a = 10
b = 20
if a == 10 and b == 20:
    print("This is a valid statement")
    
"""In case of "and" operator, both the conditions should be true inorder to get inside the body of "if" statement 
to print the statement"""

This is a valid statement

In [3]:
a == 10 and b == 20

True

In [4]:
a = 10
b = 20
if a == 10 and b > 20:
    print("This is a valid statement")

In [5]:
a == 10 and b > 20

False

a = 10
b = 20
if a == 10 and b > 20:
    print("This is a valid statement")
else:
    print("Invalid condition")

In [12]:
a = 10
b = 20
if a == 10 and b > 20:
    print("This is a valid statement")
elif a == 10 and b <= 20:
    print("This condition is valid inside elif")
else:
    print("Invalid condition")

This condition is valid inside elif

In [13]:
#or condition
a = 10
b = 20
if a == 10 or b > 20:
    print("This is a valid statement")
elif a == 10 and b <= 20:
    print("This condition is valid inside elif")
else:
    print("Invalid condition")
    
"""in this case only one condition has to be true inorder to get inside the body of if statement"""

This is a valid statement

task:
    
take an input from your keyboard as your first name and last name and then try to validate and write multiple condition by yourself

In [18]:
a = int(input("Write number a: "))
b = int(input("Write number b: "))

if a < 10 and b < 20:
    print("Light bases")
elif a <= 20 or b < 30:
    print("Moderately heavy")
elif a < 50 and b < 100:
    print ("Heavy bases")
else:
    print("Heavy heavy bases")

Write number a: 45
Write number b: 96
Heavy bases

In [2]:
#whileloop
initial_speed = 0
final_speed = 100
count = 0
while initial_speed < final_speed:
    print("speed")
    count = count + 1
    if count == 10:
        break

speed
speed
speed
speed
speed
speed
speed
speed
speed
speed

In [3]:
i = 1
j = 5
while i < j:
    print(i)
    i = i + 1

1
2
3
4

In [4]:
notes = 5
i = 1
while i < notes:
    print(i)
    i += 1 
else:
    print("No 10 rs notes are available")
#i += 1 is same as i = i+1

1
2
3
4
No 10 rs notes are available

In [5]:
notes = 5
i = 1
while i < notes:
    print(i)
    i += 1 
else:
    while i < 2:
        print(i)
        i = i + 1
        print("No 10 rs notes are available")

1
2
3
4

In [6]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i += 1 
else:
    while j < 2:
        print(j)
        j = j + 1
        print("No 10 rs notes are available")

1
2
3
4
1
No 10 rs notes are available

In [1]:
s = "Penny"

In [2]:
#Indexing to extract data (Eg: Extract e in Penny)
s[1]

'e'

In [3]:
s[3]

'n'

#The count starts from 0 to 1, 2, 3 and so on. The space also occupies indices(1 space equals 1 index)

In [4]:
s = "My name is Penny"
s

'My name is Penny'

In [10]:
#To extract data from n of name to s of is
s[3]
s[3:10]
#[starting point:end point]

'name is'

In [9]:
#[starting point:end point+1] it excludes the end point data, therefore we have to provide an extra index
s[3:11]

'name is '

In [11]:
#including the 3rd value, which means the "Step size", by default step size = 1
#If step size 
s[3:11:1]

'name is '

In [12]:
s[3:11:2]
#3rd index, 3+2=5th index, 5+2=7th index..so on

'nm s'

In [13]:
#Reversal operation indexing
s[10:3]

''

In [14]:
s[10:2:-1]

' si eman'

In [15]:
s[10:2:-2]

' iea'

In [16]:
#Reversal of complete string
s[::-1]

'ynneP si eman yM'

In [17]:
s[2:-6]

' name is'

In [5]:
l = []
s = "Penny"
for i in s:
    l.append(s[-1])
print(l)

['y', 'y', 'y', 'y', 'y']

In [18]:
#In forward direction indices will be 0,1,2,3 so on and in reverse direction indices will start from -1,-2,-3,-4 so on
s = "Penny"
s[-1]

'y'

In [19]:
s[-2]

'n'

In [20]:
s[-5]

'P'

In [1]:
s = "My name is Penny"
for i in s:
    print(i)
    
# i is the local variable
#While loop keeps on doing some sort of task and do not stop until the condition is met
#for loop will keep on iterating through the dataset until its not going to exhaust it, can write variety of tasks For

M
y

n
a
m
e

i
s

P
e
n
n
y

In [5]:
s = "My name is Penny"
for i in s:
    if i == "e":
        print("I got e as a string")
    print(i)

M
y

n
a
m
I got e as a string
e

i
s

P
I got e as a string
e
n
n
y

In [6]:
s

'My name is Penny'

In [7]:
for i in s:
    print(i)
else:
    print("This is a else condition")

M
y

n
a
m
e

i
s

P
e
n
n
y
This is a else condition

In [8]:
for i in s:
    print(i)
else:
    if i == "y":
        print("Last character was y")
    print("This is a else condition")

M
y

n
a
m
e

i
s

P
e
n
n
y
Last character was y
This is a else condition

In [10]:
for i in s:
    if i == "n":
        break
    print(i)
      
else:
    if i == "y":
        print("Last character was y")
    print("This is a else condition")

M
y

In [13]:
for i in s:
    if i == "n":
        continue
    print(i)
      
else:
    if i == "y":
        print("Last character was y")
    print("This is a else condition")
    
"""continue means whatever you have written after
continue statement (in the continue statement body will get executed, 
here after continue nothing is there therefore it will skip "n", 
the print(i) statement is out of the body)"""

M
y

a
m
e

i
s

P
e
y
Last character was y
This is a else condition

In [9]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

In [10]:
ss

'ieuro'

In [3]:
#len() tells the length of total data
len(s)

7

In [11]:
#range(7) = [0,1,2,3,4,5,6]

In [12]:
#nested for loop
n = 7
for i in range(0, n):
    for j in range(0, i +1):
        print("+ ", end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [20]:
n = 7
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end = "")
        
    for j in range(2*i-1):
        print("*", end = "")
    print("\r")

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [1]:
n = 9
i = 0
while i < n:
    print(" "*(n-i-1) + "* "*(i+1))
    i += 1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [2]:
#range function: Generates a data in between a range from the start point till the end point but excluding the end point
#Example:
for i in range(4, 8, 1):
    print(i)

4
5
6
7

In [5]:
for i in range(8,4, -1):
    print(i)

8
7
6
5

In [13]:
#end function is used to print things on same line in continuity, 
#Example:

#Different lines
string = "Penny"
for i in string:
    print(i)
    

#Same line
#the character in the end function insert it within the characters

string = "\nPenny"
for i in string:
    print(i, end = "")
    
string = "\nPenny"
for i in string:
    print(i, end = "  ")
    
string = "\nPenny"
for i in string:
    print(i, end = "***")

P
e
n
n
y

Penny
  P  e  n  n  y
***P***e***n***n***y***