In [16]:
import pandas as pd

In [ ]:
#Reading operation in Pandas

In [5]:
pd = pd.read_csv(r"C:\Users\Lakshya\Downloads\student.csv")

In [4]:
#To know total number of records

In [6]:
pd

      id    name         dob sex class hcode dcode  mtest
0   1001     ABA   11/5/1986   M    1A     B   TST     84
1   1002    Mary  25-06-1986   F    2B     B    YL     82
2   1003   David  17-03-1988   M    1A     G    TM     84
3   1004    John  17-01-1985   M    1C     B    YL     82
4   1005     May  15-11-1986   F    1A     B    TP     30
5   1006   Janet    4/6/1986   F    2B     R   TST     62
6   1007   Steve  31-03-1987   M    2C     R    TM     38
7   1008   Chris   12/1/1984   M    1A     B    YL     49
8   1009  Robert    3/9/1987   M    1A     G   TST     63
9   1010    June  15-02-1988   F    1B     R   YMT     59
10  1011   Judie  23-02-1986   F    2C     R   TST     62
11  1012   Sally    5/7/1986   F    3A     G    YL     71
12  1013   Sammi  14-08-1986   F    1B     B    TM     84
13  1014   katie  22-09-1986   F    1C     B   YMT     42
14  1015  Wilson  12/10/1986   M    1A     R    YL     66
15  1016   Tommy   5/12/1986   M    1A     G    TM     33
16  1017    Till  14-04-1986   M    2B     R    TP     81

In [7]:
pd.head()  #Show 1st 5 records by default

     id   name         dob sex class hcode dcode  mtest
0  1001    ABA   11/5/1986   M    1A     B   TST     84
1  1002   Mary  25-06-1986   F    2B     B    YL     82
2  1003  David  17-03-1988   M    1A     G    TM     84
3  1004   John  17-01-1985   M    1C     B    YL     82
4  1005    May  15-11-1986   F    1A     B    TP     30

In [8]:
pd.head(2)

     id  name         dob sex class hcode dcode  mtest
0  1001   ABA   11/5/1986   M    1A     B   TST     84
1  1002  Mary  25-06-1986   F    2B     B    YL     82

In [9]:
pd.head(13)

      id    name         dob sex class hcode dcode  mtest
0   1001     ABA   11/5/1986   M    1A     B   TST     84
1   1002    Mary  25-06-1986   F    2B     B    YL     82
2   1003   David  17-03-1988   M    1A     G    TM     84
3   1004    John  17-01-1985   M    1C     B    YL     82
4   1005     May  15-11-1986   F    1A     B    TP     30
5   1006   Janet    4/6/1986   F    2B     R   TST     62
6   1007   Steve  31-03-1987   M    2C     R    TM     38
7   1008   Chris   12/1/1984   M    1A     B    YL     49
8   1009  Robert    3/9/1987   M    1A     G   TST     63
9   1010    June  15-02-1988   F    1B     R   YMT     59
10  1011   Judie  23-02-1986   F    2C     R   TST     62
11  1012   Sally    5/7/1986   F    3A     G    YL     71
12  1013   Sammi  14-08-1986   F    1B     B    TM     84

In [10]:
pd.tail()

      id    name         dob sex class hcode dcode  mtest
12  1013   Sammi  14-08-1986   F    1B     B    TM     84
13  1014   katie  22-09-1986   F    1C     B   YMT     42
14  1015  Wilson  12/10/1986   M    1A     R    YL     66
15  1016   Tommy   5/12/1986   M    1A     G    TM     33
16  1017    Till  14-04-1986   M    2B     R    TP     81

In [11]:
#Dataframe(Storing data in datafrae format) = Tabular structure form of data

In [15]:
df = pd.read_csv(r"C:\Users\Lakshya\Downloads\student.csv")

In [16]:
type(df)   #Internally trying to convert whole dataset into a dataframe

pandas.core.frame.DataFrame

In [27]:
df1 = df.head()

In [18]:
df.tail()

      id    name         dob sex class hcode dcode  mtest
12  1013   Sammi  14-08-1986   F    1B     B    TM     84
13  1014   katie  22-09-1986   F    1C     B   YMT     42
14  1015  Wilson  12/10/1986   M    1A     R    YL     66
15  1016   Tommy   5/12/1986   M    1A     G    TM     33
16  1017    Till  14-04-1986   M    2B     R    TP     81

In [19]:
#To store data into a csv format

In [28]:
df1.to_csv("test.csv")

In [29]:
pwd()

'C:\\Users\\Lakshya\\DS_Python'

In [31]:
!dir

 Volume in drive C is WINDOWS
 Volume Serial Number is 4816-94F1

 Directory of C:\Users\Lakshya\DS_Python

01/03/2022  12:53 PM    <DIR>          .
01/03/2022  12:53 PM    <DIR>          ..
01/03/2022  11:57 AM    <DIR>          .ipynb_checkpoints
12/01/2021  12:44 AM            10,576 19.2.MySQL-checkpoint.ipynb
12/01/2021  12:36 AM         7,290,387 19.2.MySQL.7z
11/27/2021  10:22 PM            11,821 Abstraction, Inheritance, Encapsulation.ipynb
11/16/2021  07:25 PM                79 addition.py
12/19/2021  10:29 PM    <DIR>          Assignments
10/31/2021  12:30 PM       252,321,469 DS_FunctionClass2.ipynb
10/26/2021  04:09 PM            35,601 DS_Functions(1st class).ipynb
10/14/2021  01:36 AM             8,503 DS_List.ipynb
10/31/2021  09:08 AM             5,687 DS_PythonBasics.ipynb
10/21/2021  01:06 PM            75,869 DS_String_and_list_manipulation.ipynb
10/24/2021  09:26 AM            86,489 DS_Tuple_Set_Dictionaries.ipynb
10/14/2021  01:36 AM            22,461 DS_while&forloops.ipynb
11/29/2021  04:49 PM             4,489 Encapsulation continue.ipynb
11/23/2021  11:20 PM                45 file1
11/23/2021  10:37 PM         9,562,198 Function and files.ipynb
11/23/2021  10:36 PM            27,934 Function in pyton  (1).ipynb
11/01/2021  10:38 PM             2,781 Functions_Generator_3.ipynb
12/01/2021  01:44 AM            11,941 glass.data
12/23/2021  10:06 PM    <DIR>          Live class
11/15/2021  02:21 PM    <DIR>          Logging
11/21/2021  09:55 AM            41,980 Logging and debugging .ipynb
11/21/2021  09:54 AM            28,500 Modules and Exceptions.ipynb
12/07/2021  12:01 AM            23,367 MongoDB.ipynb
12/06/2021  05:39 PM    <DIR>          MongoDB_files
12/01/2021  10:13 PM               630 mydata.csv
12/02/2021  12:03 PM            62,204 MySQL-Python.ipynb
12/28/2021  02:24 AM    <DIR>          Mysql_files
11/24/2021  01:41 AM            13,702 Objects and Classes (Oops).ipynb
11/24/2021  01:39 AM               166 OOPS.log
01/03/2022  12:53 PM            29,829 Pandas Part-1.ipynb
12/25/2021  10:58 PM    <DIR>          practice
12/05/2021  12:48 PM    <DIR>          Python_BasicAssignments
11/21/2021  09:55 AM    <DIR>          Ques_exception
11/15/2021  06:27 PM    <DIR>          Tavleen
11/17/2021  12:48 AM    <DIR>          test
01/03/2022  12:52 PM               226 test.csv
11/16/2021  07:25 PM                64 test.py
11/17/2021  07:05 PM                 0 test1.txt
11/16/2021  07:46 PM               192 test2.py
11/10/2021  03:56 PM                72 Untitled.ipynb
11/29/2021  12:52 PM               741 Untitled1.ipynb
11/18/2021  11:45 PM    <DIR>          __pycache__
              31 File(s)    269,680,003 bytes
              14 Dir(s)   1,833,205,760 bytes free

In [32]:
pd.read_csv('test.csv')  #Adds 1 new column named 'unnamed'

   Unnamed: 0    id   name         dob sex class hcode dcode  mtest
0           0  1001    ABA   11/5/1986   M    1A     B   TST     84
1           1  1002   Mary  25-06-1986   F    2B     B    YL     82
2           2  1003  David  17-03-1988   M    1A     G    TM     84
3           3  1004   John  17-01-1985   M    1C     B    YL     82
4           4  1005    May  15-11-1986   F    1A     B    TP     30

In [35]:
#Seperator by default is a comma but it can be anything like #,$ etc

df = pd.read_csv (r"C:\Users\Lakshya\Downloads\student.csv", sep='#')

In [36]:
df  #Comma(delimiter) has been changed

      id    name         dob sex class hcode dcode  mtest
0   1001     ABA   11/5/1986   M    1A     B   TST     84
1   1002    Mary  25-06-1986   F    2B     B    YL     82
2   1003   David  17-03-1988   M    1A     G    TM     84
3   1004    John  17-01-1985   M    1C     B    YL     82
4   1005     May  15-11-1986   F    1A     B    TP     30
5   1006   Janet    4/6/1986   F    2B     R   TST     62
6   1007   Steve  31-03-1987   M    2C     R    TM     38
7   1008   Chris   12/1/1984   M    1A     B    YL     49
8   1009  Robert    3/9/1987   M    1A     G   TST     63
9   1010    June  15-02-1988   F    1B     R   YMT     59
10  1011   Judie  23-02-1986   F    2C     R   TST     62
11  1012   Sally    5/7/1986   F    3A     G    YL     71
12  1013   Sammi  14-08-1986   F    1B     B    TM     84
13  1014   katie  22-09-1986   F    1C     B   YMT     42
14  1015  Wilson  12/10/1986   M    1A     R    YL     66
15  1016   Tommy   5/12/1986   M    1A     G    TM     33
16  1017    Till  14-04-1986   M    2B     R    TP     81

In [37]:
#Header earlier was infer by default(very 1st record) id,name,dob etc, when we make it none it gives column indexes by default.

df = pd.read_csv (r"C:\Users\Lakshya\Downloads\student.csv", sep='#', header=None)

In [38]:
df

       0       1           2    3      4      5      6      7
0     id    name         dob  sex  class  hcode  dcode  mtest
1   1001     ABA   11/5/1986    M     1A      B    TST     84
2   1002    Mary  25-06-1986    F     2B      B     YL     82
3   1003   David  17-03-1988    M     1A      G     TM     84
4   1004    John  17-01-1985    M     1C      B     YL     82
5   1005     May  15-11-1986    F     1A      B     TP     30
6   1006   Janet    4/6/1986    F     2B      R    TST     62
7   1007   Steve  31-03-1987    M     2C      R     TM     38
8   1008   Chris   12/1/1984    M     1A      B     YL     49
9   1009  Robert    3/9/1987    M     1A      G    TST     63
10  1010    June  15-02-1988    F     1B      R    YMT     59
11  1011   Judie  23-02-1986    F     2C      R    TST     62
12  1012   Sally    5/7/1986    F     3A      G     YL     71
13  1013   Sammi  14-08-1986    F     1B      B     TM     84
14  1014   katie  22-09-1986    F     1C      B    YMT     42
15  1015  Wilson  12/10/1986    M     1A      R     YL     66
16  1016   Tommy   5/12/1986    M     1A      G     TM     33
17  1017    Till  14-04-1986    M     2B      R     TP     81

In [39]:
#We can give names of our choice to columns. 

df = pd.read_csv (r"C:\Users\Lakshya\Downloads\student.csv", sep='#', header=None,names=['a','b','c','d','e','f','g'])

In [40]:
df

           a           b    c      d      e      f      g
id      name         dob  sex  class  hcode  dcode  mtest
1001     ABA   11/5/1986    M     1A      B    TST     84
1002    Mary  25-06-1986    F     2B      B     YL     82
1003   David  17-03-1988    M     1A      G     TM     84
1004    John  17-01-1985    M     1C      B     YL     82
1005     May  15-11-1986    F     1A      B     TP     30
1006   Janet    4/6/1986    F     2B      R    TST     62
1007   Steve  31-03-1987    M     2C      R     TM     38
1008   Chris   12/1/1984    M     1A      B     YL     49
1009  Robert    3/9/1987    M     1A      G    TST     63
1010    June  15-02-1988    F     1B      R    YMT     59
1011   Judie  23-02-1986    F     2C      R    TST     62
1012   Sally    5/7/1986    F     3A      G     YL     71
1013   Sammi  14-08-1986    F     1B      B     TM     84
1014   katie  22-09-1986    F     1C      B    YMT     42
1015  Wilson  12/10/1986    M     1A      R     YL     66
1016   Tommy   5/12/1986    M     1A      G     TM     33
1017    Till  14-04-1986    M     2B      R     TP     81

In [41]:
#To remove/skip any row, we can use 'skiprows', the rows will be removed but indexes will not change, they will update itself.

df = pd.read_csv (r"C:\Users\Lakshya\Downloads\student.csv", sep='#', header=None, skiprows=[0,4,6])

In [42]:
df

       0       1           2  3   4  5    6   7
0   1001     ABA   11/5/1986  M  1A  B  TST  84
1   1002    Mary  25-06-1986  F  2B  B   YL  82
2   1003   David  17-03-1988  M  1A  G   TM  84
3   1005     May  15-11-1986  F  1A  B   TP  30
4   1007   Steve  31-03-1987  M  2C  R   TM  38
5   1008   Chris   12/1/1984  M  1A  B   YL  49
6   1009  Robert    3/9/1987  M  1A  G  TST  63
7   1010    June  15-02-1988  F  1B  R  YMT  59
8   1011   Judie  23-02-1986  F  2C  R  TST  62
9   1012   Sally    5/7/1986  F  3A  G   YL  71
10  1013   Sammi  14-08-1986  F  1B  B   TM  84
11  1014   katie  22-09-1986  F  1C  B  YMT  42
12  1015  Wilson  12/10/1986  M  1A  R   YL  66
13  1016   Tommy   5/12/1986  M  1A  G   TM  33
14  1017    Till  14-04-1986  M  2B  R   TP  81

In [43]:
df = pd.read_csv(r"C:\Users\Lakshya\Downloads\student.csv", sep='#', header=None, skiprows=[0,4,6])

In [49]:
#na_values will consider that particular value as null

df = pd.read_csv (r"C:\Users\Lakshya\Downloads\student.csv",sep='#',na_values=['M'])

In [50]:
df

      id    name         dob  sex class hcode dcode  mtest
0   1001     ABA   11/5/1986  NaN    1A     B   TST     84
1   1002    Mary  25-06-1986    F    2B     B    YL     82
2   1003   David  17-03-1988  NaN    1A     G    TM     84
3   1004    John  17-01-1985  NaN    1C     B    YL     82
4   1005     May  15-11-1986    F    1A     B    TP     30
5   1006   Janet    4/6/1986    F    2B     R   TST     62
6   1007   Steve  31-03-1987  NaN    2C     R    TM     38
7   1008   Chris   12/1/1984  NaN    1A     B    YL     49
8   1009  Robert    3/9/1987  NaN    1A     G   TST     63
9   1010    June  15-02-1988    F    1B     R   YMT     59
10  1011   Judie  23-02-1986    F    2C     R   TST     62
11  1012   Sally    5/7/1986    F    3A     G    YL     71
12  1013   Sammi  14-08-1986    F    1B     B    TM     84
13  1014   katie  22-09-1986    F    1C     B   YMT     42
14  1015  Wilson  12/10/1986  NaN    1A     R    YL     66
15  1016   Tommy   5/12/1986  NaN    1A     G    TM     33
16  1017    Till  14-04-1986  NaN    2B     R    TP     81

In [61]:
df = pd.read_csv (r"C:\Users\Lakshya\Downloads\student.csv",sep='#', header=None,na_values=['ABA',63])

In [62]:
df

       0       1           2    3      4      5      6      7
0     id    name         dob  sex  class  hcode  dcode  mtest
1   1001     NaN   11/5/1986    M     1A      B    TST     84
2   1002    Mary  25-06-1986    F     2B      B     YL     82
3   1003   David  17-03-1988    M     1A      G     TM     84
4   1004    John  17-01-1985    M     1C      B     YL     82
5   1005     May  15-11-1986    F     1A      B     TP     30
6   1006   Janet    4/6/1986    F     2B      R    TST     62
7   1007   Steve  31-03-1987    M     2C      R     TM     38
8   1008   Chris   12/1/1984    M     1A      B     YL     49
9   1009  Robert    3/9/1987    M     1A      G    TST    NaN
10  1010    June  15-02-1988    F     1B      R    YMT     59
11  1011   Judie  23-02-1986    F     2C      R    TST     62
12  1012   Sally    5/7/1986    F     3A      G     YL     71
13  1013   Sammi  14-08-1986    F     1B      B     TM     84
14  1014   katie  22-09-1986    F     1C      B    YMT     42
15  1015  Wilson  12/10/1986    M     1A      R     YL     66
16  1016   Tommy   5/12/1986    M     1A      G     TM     33
17  1017    Till  14-04-1986    M     2B      R     TP     81

In [63]:
df = pd.read_csv (r"C:\Users\Lakshya\Downloads\student.csv",sep='#',header=None,skiprows=[0,1,2])

In [64]:
df

       0       1           2  3   4  5    6   7
0   1003   David  17-03-1988  M  1A  G   TM  84
1   1004    John  17-01-1985  M  1C  B   YL  82
2   1005     May  15-11-1986  F  1A  B   TP  30
3   1006   Janet    4/6/1986  F  2B  R  TST  62
4   1007   Steve  31-03-1987  M  2C  R   TM  38
5   1008   Chris   12/1/1984  M  1A  B   YL  49
6   1009  Robert    3/9/1987  M  1A  G  TST  63
7   1010    June  15-02-1988  F  1B  R  YMT  59
8   1011   Judie  23-02-1986  F  2C  R  TST  62
9   1012   Sally    5/7/1986  F  3A  G   YL  71
10  1013   Sammi  14-08-1986  F  1B  B   TM  84
11  1014   katie  22-09-1986  F  1C  B  YMT  42
12  1015  Wilson  12/10/1986  M  1A  R   YL  66
13  1016   Tommy   5/12/1986  M  1A  G   TM  33
14  1017    Till  14-04-1986  M  2B  R   TP  81

In [65]:
 df.describe()
    
#Describe giving only 2 columns which have numerical data by default. 
#But we will be able to get categorical info

#Count: Total no. of values inside that column. If some column has different count then it means we have NaN values in that column.To reconfirm we can tally it with no of records, to know which column has null values.
#mean: Summation of all data/total no of data.
#std: Fluctuation from mean(mean+-std)
#rest values are calculated post sorting (min to max)

                 0          7
count    15.000000  15.000000
mean   1010.000000  60.400000
std       4.472136  18.531055
min    1003.000000  30.000000
25%    1006.500000  45.500000
50%    1010.000000  62.000000
75%    1013.500000  76.000000
max    1017.000000  84.000000

In [66]:
df.dtypes

#object = string datatype

0     int64
1    object
2    object
3    object
4    object
5    object
6    object
7     int64
dtype: object

In [67]:
df1.dtypes

id        int64
name     object
dob      object
sex      object
class    object
hcode    object
dcode    object
mtest     int64
dtype: object

In [69]:
#Storing data

In [71]:
#Index parameter: To remove unwanted row indexes in the first column we write index=False

df1.to_csv("student1.csv", index=False, header=False)

In [ ]:
df1.to_csv("student1.csv", index=False, header=False, sep="#", columns=['Id','name','dob', 'sex', 'class', 'hcode'])

In [ ]:
#Column and row seletion functions

In [72]:
#To get a list of all columns

df1.columns

Index(['id', 'name', 'dob', 'sex', 'class', 'hcode', 'dcode', 'mtest'], dtype='object')

In [74]:
#Interested in id column

#PANDAS has 2 types of records: Series is only 1 record and Dataframe 

type(df1['id']) #Series is equivalrnt to list in Pandas

pandas.core.series.Series

In [78]:
type(df1[['id']]) #Passing column name in a form of list, it will return Dataframe instead of series

pandas.core.frame.DataFrame

In [79]:
#Fetching 1 column at a time

df1[['id']]

     id
0  1001
1  1002
2  1003
3  1004
4  1005

In [81]:
#Fetching more than 1 column at a time

df1[['id', 'name', 'dob', 'sex', 'class']]

     id   name         dob sex class
0  1001    ABA   11/5/1986   M    1A
1  1002   Mary  25-06-1986   F    2B
2  1003  David  17-03-1988   M    1A
3  1004   John  17-01-1985   M    1C
4  1005    May  15-11-1986   F    1A

# Reading data from Excel sheet

In [7]:
#By default it will read the 1st sheet, inorder to make it read sheet of our choice we can provide sheetname


df2 = pd.read_excel(r"C:\Users\Lakshya\Downloads\LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx",sheet_name='Add your take on balances')

In [8]:
df2

#We can perform many operation same as csv by typing df2.(Press Tab)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,3) Add your Take on Balances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,Now that you have populated your instrument un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,The official transfer took place 2 days ago. Y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,For further usage of the set holdings API call...,NaN,NaN,NaN,NaN,NaN,LUSID API Docs: Set Holdings,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Specify details of your holdings and add these...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Scope:,Production-client,"To view a list of existing scopes, please s...",NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Portfolio code:,Pension-fund,"To view a list of existing Portfolios, plea...",NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Effective date:,2019-09-08 11:49:22.720000,The effective date refers to the date the h...,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,Mandatory fields,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,Instrument Id Types,Instrument Ids,Units,Cost,Currency,Portfolio Cost,Price,Purchase date,Settlement date
31,NaN,NaN,NaN,1.0,Figi,BBG000BF6B57,1050200,9147242,GBP,9147242,8.71,NaN,NaN
32,NaN,NaN,NaN,2.0,Figi,BBG006N6HZM7,100674,13085203.824,GBP,13085203.824,129.976,NaN,NaN
33,NaN,NaN,NaN,3.0,Figi,BBG0088JSC32,220456,23461147.976,GBP,23461147.976,106.421,NaN,NaN
34,NaN,NaN,NaN,4.0,Figi,BBG0000D14P3,97658,13522312.628,GBP,13522312.628,138.466,NaN,NaN
35,NaN,NaN,NaN,5.0,Figi,BBG001KKJLR4,320568,34677443.4,GBP,34677443.4,108.175,NaN,NaN
36,NaN,NaN,NaN,6.0,Figi,BBG000BKH1W6,2879200,6892804.8,GBP,6892804.8,2.394,NaN,NaN
37,NaN,NaN,NaN,7.0,Figi,BBG0065YWM39,4789100,28629239.8,GBP,28629239.8,5.978,NaN,NaN
38,NaN,NaN,NaN,8.0,Figi,BBG000D03XD4,6134800,101684310,GBP,101684310,16.575,NaN,NaN
39,NaN,NaN,NaN,9.0,Figi,BBG000BF46Y8,13456500,26058512.25,GBP,26058512.25,1.9365,NaN,NaN
40,NaN,NaN,NaN,10.0,Figi,BBG000BRVH05,8954300,40912196.7,GBP,40912196.7,4.569,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,Holdings set for portfolio code Pension-fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Reading data from html page

In [9]:
df4 = pd.read_html('https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool')

In [10]:
df4

[       Season   Age                                     Tm  \
 0     2008-09  19.0  Did Not Play(other pro leagueSpain)
 1     2009-10  20.0                                    OKC
 2     2010-11  21.0                                    OKC
 3     2011-12  22.0                                    OKC
 4     2012-13  23.0                                    OKC
 5     2013-14  24.0                                    OKC
 6     2014-15  25.0                                    OKC
 7     2015-16  26.0                                    OKC
 8     2016-17  27.0                                    TOT
 9     2016-17  27.0                                    ORL
 10    2016-17  27.0                                    TOR
 11    2017-18  28.0                                    TOR
 12    2018-19  29.0                                    TOR
 13    2019-20  30.0                                    TOR
 14    2020-21  31.0                                    LAC
 15    2021-22  32.0                                    LAC
 16     Career   NaN                                    NaN
 17        NaN   NaN                                    NaN
 18  7 seasons   NaN                                    OKC
 19  4 seasons   NaN                                    TOR
 20  2 seasons   NaN                                    LAC
 21   1 season   NaN                                    ORL

                                        Lg  \
 0   Did Not Play(other pro leagueSpain)
 1                                     NBA
 2                                     NBA
 3                                     NBA
 4                                     NBA
 5                                     NBA
 6                                     NBA
 7                                     NBA
 8                                     NBA
 9                                     NBA
 10                                    NBA
 11                                    NBA
 12                                    NBA
 13                                    NBA
 14                                    NBA
 15                                    NBA
 16                                    NBA
 17                                    NaN
 18                                    NBA
 19                                    NBA
 20                                    NBA
 21                                    NBA

                                       Pos  \
 0   Did Not Play(other pro leagueSpain)
 1                                      PF
 2                                      PF
 3                                      PF
 4                                      PF
 5                                      PF
 6                                      PF
 7                                      PF
 8                                      PF
 9                                      PF
 10                                     PF
 11                                     PF
 12                                      C
 13                                      C
 14                                      C
 15                                      C
 16                                    NaN
 17                                    NaN
 18                                    NaN
 19                                    NaN
 20                                    NaN
 21                                    NaN

                                         G  \
 0   Did Not Play(other pro leagueSpain)
 1                                      73
 2                                      82
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     74
 13                                     55
 14                                     41
 15                                     18
 16                                    867
 17                                    NaN
 18                                    524
 19                                    228
 20                                     59
 21                                     56

                                        GS  \
 0   Did Not Play(other pro leagueSpain)
 1                                       0
 2                                      44
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     51
 13                                     27
 14                                     39
 15                                      5
 16                                    690
 17                                    NaN
 18                                    413
 19                                    177
 20                                     44
 21                                     56

                                        MP  \
 0   Did Not Play(other pro leagueSpain)
 1                                    18.1
 2                                    27.0
 3                                    27.2
 4                                    31.1
 5                                    32.9
 6                                    33.1
 7                                    32.1
 8                                    30.7
 9                                    30.5
 10                                   31.0
 11                                   27.5
 12                                   27.2
 13                                   27.0
 14                                   23.3
 15                                   15.4
 16                                   28.1
 17                                    NaN
 18                                   28.8
 19                                   27.6
 20                                   20.9
 21                                   30.5

                                        FG  \
 0   Did Not Play(other pro leagueSpain)
 1                                     2.8
 2                                     4.1
 3                                     4.0
 4                                     5.6
 5                                     6.5
 6                                     5.8
 7                                     5.3
 8                                     6.0
 9                                     6.1
 10                                    5.6
 11                                    5.0
 12                                    6.3
 13                                    6.2
 14                                    4.5
 15                                    2.1
 16                                    5.1
 17                                    NaN
 18                                    4.9
 19                                    5.8
 20                                    3.8
 21                                    6.1

                                       FGA  ...  \
 0   Did Not Play(other pro leagueSpain)  ...
 1                                     5.1  ...
 2                                     7.5  ...
 3                                     7.4  ...
 4                                     9.7  ...
 5                                    12.1  ...
 6                                    12.3  ...
 7                                    11.1  ...
 8                                    12.4  ...
 9                                    12.6  ...
 10                                   12.1  ...
 11                                   10.3  ...
 12                                   11.9  ...
 13                                   12.2  ...
 14                                    8.9  ...
 15                                    4.9  ...
 16                                   10.0  ...
 17                                    NaN  ...
 18                                    9.3  ...
 19                                   11.4  ...
 20                                    7.7  ...
 21                                   12.6  ...

                                       FT%  \
 0   Did Not Play(other pro leagueSpain)
 1                                    .630
 2                                    .750
 3                                    .661
 4                                    .749
 5                                    .784
 6                                    .836
 7                                    .752
 8                                    .856
 9                                    .846
 10                                   .882
 11                                   .797
 12                                   .763
 13                                   .718
 14                                   .811
 15                                   .650
 16                                   .758
 17                                    NaN
 18                                   .745
 19                                   .768
 20                                   .767
 21                                   .846

                                       ORB  \
 0   Did Not Play(other pro leagueSpain)
 1                                     1.9
 2                                     2.6
 3                                     2.9
 4                                     2.8
 5                                     2.8
 6                                     2.1
 7                                     1.8
 8                                     1.6
 9                                     1.8
 10                                    1.3
 11                                    1.0
 12                                    2.1
 13                                    2.1
 14                                    1.8
 15                                    1.1
 16                                    2.1
 17                                    NaN
 18                                    2.4
 19                                    1.7
 20                                    1.6
 21                                    1.8

                                       DRB  \
 0   Did Not Play(other pro leagueSpain)
 1                                     3.5
 2                                     5.0
 3                                     4.6
 4                                     4.9
 5                                     6.0
 6                                     5.7
 7                                     5.0
 8                                     5.2
 9                                     5.0
 10                                    5.5
 11                                    5.3
 12                                    6.0
 13                                    6.1
 14                                    4.9
 15                                    2.8
 16                                    5.1
 17                                    NaN
 18                                    5.0
 19                                    5.7
 20                                    4.3
 21                                    5.0

                                       TRB  \
 0   Did Not Play(other pro leagueSpain)
 1                                     5.4
 2                                     7.6
 3                                     7.5
 4                                     7.7
 5                                     8.8
 6                                     7.8
 7                                     6.8
 8                                     6.8
 9                                     6.8
 10                                    6.8
 11                                    6.3
 12                                    8.1
 13                                    8.2
 14                                    6.7
 15                                    3.9
 16                                    7.3
 17                                    NaN
 18                                    7.4
 19                                    7.4
 20                                    5.8
 21                                    6.8

                                       AST  \
 0   Did Not Play(other pro leagueSpain)
 1                                     0.1
 2                                     0.3
 3                                     0.4
 4                                     0.5
 5                                     1.0
 6                                     0.9
 7                                     0.8
 8                                     0.9
 9                                     1.1
 10                                    0.7
 11                                    0.8
 12                                    1.3
 13                                    1.4
 14                                    1.8
 15                                    1.3
 16                                    0.8
 17                                    NaN
 18                                    0.6
 19                                    1.1
 20                                    1.7
 21                                    1.1

                                       STL  \
 0   Did Not Play(other pro leagueSpain)
 1                                     0.3
 2                                     0.4
 3                                     0.5
 4                                     0.4
 5                                     0.5
 6                                     0.5
 7                                     0.5
 8                                     0.5
 9                                     0.6
 10                                    0.3
 11                                    0.4
 12                                    0.4
 13                                    0.5
 14                                    0.2
 15                                    0.2
 16                                    0.4
 17                                    NaN
 18                                    0.4
 19                                    0.4
 20                                    0.2
 21                                    0.6

                                       BLK  \
 0   Did Not Play(other pro leagueSpain)
 1                                     1.3
 2                                     2.4
 3                                     3.7
 4                                     3.0
 5                                     2.7
 6                                     2.4
 7                                     1.9
 8                                     1.6
 9                                     1.6
 10                                    1.4
 11                                    1.3
 12                                    1.4
 13                                    0.8
 14                                    1.1
 15                                    0.6
 16                                    2.0
 17                                    NaN
 18                                    2.5
 19                                    1.2
 20                                    1.0
 21                                    1.6

                                       TOV  \
 0   Did Not Play(other pro leagueSpain)
 1                                     0.9
 2                                     0.9
 3                                     1.2
 4                                     1.6
 5                                     1.5
 6                                     1.5
 7                                     1.4
 8                                     1.3
 9                                     1.2
 10                                    1.7
 11                                    1.2
 12                                    1.5
 13                                    2.0
 14                                    1.1
 15                                    1.2
 16                                    1.3
 17                                    NaN
 18                                    1.3
 19                                    1.5
 20                                    1.1
 21                                    1.2

                                        PF  \
 0   Did Not Play(other pro leagueSpain)
 1                                     2.7
 2                                     3.3
 3                                     2.7
 4                                     2.7
 5                                     2.9
 6                                     3.0
 7                                     2.7
 8                                     2.7
 9                                     2.5
 10                                    3.3
 11                                    2.8
 12                                    2.9
 13                                    2.8
 14                                    1.9
 15                                    2.0
 16                                    2.8
 17                                    NaN
 18                                    2.8
 19                                    2.8
 20                                    1.9
 21                                    2.5

                                       PTS
 0   Did Not Play(other pro leagueSpain)
 1                                     6.3
 2                                     9.9
 3                                     9.1
 4                                    13.2
 5                                    15.1
 6                                    14.3
 7                                    12.6
 8                                    14.8
 9                                    15.1
 10                                   14.2
 11                                   12.6
 12                                   15.0
 13                                   15.4
 14                                   11.1
 15                                    5.5
 16                                   12.3
 17                                    NaN
 18                                   11.6
 19                                   14.2
 20                                    9.4
 21                                   15.1

 [22 rows x 30 columns],
        Season   Age   Tm   Lg  Pos      G     GS    MP   FG   FGA  ...    FT%  \
 0     2009-10  20.0  OKC  NBA   PF    6.0    0.0  25.5  3.3   5.8  ...  0.700
 1     2010-11  21.0  OKC  NBA   PF   17.0   17.0  28.8  3.9   8.5  ...  0.825
 2     2011-12  22.0  OKC  NBA   PF   20.0   20.0  28.5  4.2   8.0  ...  0.722
 3     2012-13  23.0  OKC  NBA   PF   11.0   11.0  33.3  5.4  12.3  ...  0.792
 4     2013-14  24.0  OKC  NBA   PF   17.0   17.0  34.2  5.1   8.6  ...  0.765
 5     2015-16  26.0  OKC  NBA   PF   18.0   18.0  33.4  4.7   9.1  ...  0.750
 6     2016-17  27.0  TOR  NBA   PF   10.0   10.0  30.7  6.0  13.0  ...  0.846
 7     2017-18  28.0  TOR  NBA   PF   10.0    9.0  26.0  3.0   7.2  ...  0.818
 8     2018-19  29.0  TOR  NBA    C   24.0    0.0  20.8  3.8   8.0  ...  0.762
 9     2019-20  30.0  TOR  NBA    C   11.0    0.0  22.8  5.7  10.0  ...  1.000
 10    2020-21  31.0  LAC  NBA    C    2.0    0.0   9.0  1.5   3.0  ...  1.000
 11     Career   NaN  NaN  NBA  NaN  146.0  102.0  28.1  4.5   8.9  ...  0.792
 12        NaN   NaN  NaN  NaN  NaN    NaN    NaN   NaN  NaN   NaN  ...    NaN
 13  6 seasons   NaN  OKC  NBA  NaN   89.0   83.0  31.0  4.5   8.8  ...  0.768
 14  4 seasons   NaN  TOR  NBA  NaN   55.0   19.0  24.0  4.5   9.2  ...  0.824
 15   1 season   NaN  LAC  NBA  NaN    2.0    0.0   9.0  1.5   3.0  ...  1.000

     ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 0   2.2  4.3  6.5  0.3  0.3  2.0  1.0  3.2   7.8
 1   2.8  4.5  7.3  0.2  0.2  3.1  1.2  3.8   9.8
 2   2.4  3.4  5.8  0.6  0.6  3.0  0.6  2.9   9.8
 3   3.5  4.8  8.4  0.7  0.0  3.0  0.6  3.5  12.8

In [11]:
#html page has multiple tables which will be read by pd.read_html and provide all these tables in the form of list

type(df4)

list

In [13]:
#To find total number of tables in a list 

len(df4)   #No of tables

6

In [14]:
#To find the location of a table at different indexes

df4[0]      #1st table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),...,Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain),Did Not Play(other pro leagueSpain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2
5,2013-14,24.0,OKC,NBA,PF,81,81,32.9,6.5,12.1,...,.784,2.8,6.0,8.8,1.0,0.5,2.7,1.5,2.9,15.1
6,2014-15,25.0,OKC,NBA,PF,64,64,33.1,5.8,12.3,...,.836,2.1,5.7,7.8,0.9,0.5,2.4,1.5,3.0,14.3
7,2015-16,26.0,OKC,NBA,PF,78,78,32.1,5.3,11.1,...,.752,1.8,5.0,6.8,0.8,0.5,1.9,1.4,2.7,12.6
8,2016-17,27.0,TOT,NBA,PF,79,79,30.7,6.0,12.4,...,.856,1.6,5.2,6.8,0.9,0.5,1.6,1.3,2.7,14.8
9,2016-17,27.0,ORL,NBA,PF,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
10,2016-17,27.0,TOR,NBA,PF,23,23,31.0,5.6,12.1,...,.882,1.3,5.5,6.8,0.7,0.3,1.4,1.7,3.3,14.2
11,2017-18,28.0,TOR,NBA,PF,76,76,27.5,5.0,10.3,...,.797,1.0,5.3,6.3,0.8,0.4,1.3,1.2,2.8,12.6
12,2018-19,29.0,TOR,NBA,C,74,51,27.2,6.3,11.9,...,.763,2.1,6.0,8.1,1.3,0.4,1.4,1.5,2.9,15.0
13,2019-20,30.0,TOR,NBA,C,55,27,27.0,6.2,12.2,...,.718,2.1,6.1,8.2,1.4,0.5,0.8,2.0,2.8,15.4
14,2020-21,31.0,LAC,NBA,C,41,39,23.3,4.5,8.9,...,.811,1.8,4.9,6.7,1.8,0.2,1.1,1.1,1.9,11.1
15,2021-22,32.0,LAC,NBA,C,18,5,15.4,2.1,4.9,...,.650,1.1,2.8,3.9,1.3,0.2,0.6,1.2,2.0,5.5
16,Career,NaN,NaN,NBA,NaN,867,690,28.1,5.1,10.0,...,.758,2.1,5.1,7.3,0.8,0.4,2.0,1.3,2.8,12.3
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,7 seasons,NaN,OKC,NBA,NaN,524,413,28.8,4.9,9.3,...,.745,2.4,5.0,7.4,0.6,0.4,2.5,1.3,2.8,11.6
19,4 seasons,NaN,TOR,NBA,NaN,228,177,27.6,5.8,11.4,...,.768,1.7,5.7,7.4,1.1,0.4,1.2,1.5,2.8,14.2
20,2 seasons,NaN,LAC,NBA,NaN,59,44,20.9,3.8,7.7,...,.767,1.6,4.3,5.8,1.7,0.2,1.0,1.1,1.9,9.4
21,1 season,NaN,ORL,NBA,NaN,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1

In [15]:
df4[1]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2009-10,20.0,OKC,NBA,PF,6.0,0.0,25.5,3.3,5.8,...,0.700,2.2,4.3,6.5,0.3,0.3,2.0,1.0,3.2,7.8
1,2010-11,21.0,OKC,NBA,PF,17.0,17.0,28.8,3.9,8.5,...,0.825,2.8,4.5,7.3,0.2,0.2,3.1,1.2,3.8,9.8
2,2011-12,22.0,OKC,NBA,PF,20.0,20.0,28.5,4.2,8.0,...,0.722,2.4,3.4,5.8,0.6,0.6,3.0,0.6,2.9,9.8
3,2012-13,23.0,OKC,NBA,PF,11.0,11.0,33.3,5.4,12.3,...,0.792,3.5,4.8,8.4,0.7,0.0,3.0,0.6,3.5,12.8
4,2013-14,24.0,OKC,NBA,PF,17.0,17.0,34.2,5.1,8.6,...,0.765,1.8,5.0,6.8,0.7,0.6,2.5,1.2,3.2,12.1
5,2015-16,26.0,OKC,NBA,PF,18.0,18.0,33.4,4.7,9.1,...,0.750,1.3,5.0,6.3,0.6,0.8,1.3,0.5,2.8,12.0
6,2016-17,27.0,TOR,NBA,PF,10.0,10.0,30.7,6.0,13.0,...,0.846,0.9,5.6,6.5,1.4,0.4,1.7,1.1,3.7,14.3
7,2017-18,28.0,TOR,NBA,PF,10.0,9.0,26.0,3.0,7.2,...,0.818,1.3,4.6,5.9,1.1,0.1,1.3,1.6,2.1,8.7
8,2018-19,29.0,TOR,NBA,C,24.0,0.0,20.8,3.8,8.0,...,0.762,1.5,4.5,6.0,0.9,0.5,1.0,1.0,3.3,9.4
9,2019-20,30.0,TOR,NBA,C,11.0,0.0,22.8,5.7,10.0,...,1.000,1.5,6.2,7.7,1.2,0.2,1.3,1.1,2.5,14.8
10,2020-21,31.0,LAC,NBA,C,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0
11,Career,NaN,NaN,NBA,NaN,146.0,102.0,28.1,4.5,8.9,...,0.792,1.9,4.7,6.5,0.7,0.4,2.0,1.0,3.1,11.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,31.0,4.5,8.8,...,0.768,2.2,4.5,6.7,0.5,0.5,2.5,0.8,3.2,10.9
14,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,24.0,4.5,9.2,...,0.824,1.3,5.1,6.4,1.1,0.3,1.2,1.2,3.0,11.2
15,1 season,NaN,LAC,NBA,NaN,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0

In [17]:
df4[5]

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,2009-10,20.0,OKC,NBA,PF,6.0,153.0,15.3,0.596,0.000,...,NaN,0.2,0.3,0.5,0.144,NaN,-1.0,2.0,0.9,0.1
1,2010-11,21.0,OKC,NBA,PF,17.0,490.0,15.2,0.514,0.007,...,NaN,0.5,0.6,1.1,0.109,NaN,-1.6,0.8,-0.8,0.1
2,2011-12,22.0,OKC,NBA,PF,20.0,569.0,18.9,0.558,0.025,...,NaN,1.4,0.5,1.8,0.155,NaN,0.9,1.5,2.4,0.6
3,2012-13,23.0,OKC,NBA,PF,11.0,366.0,17.1,0.484,0.067,...,NaN,0.5,0.5,1.0,0.131,NaN,0.9,-0.1,0.8,0.3
4,2013-14,24.0,OKC,NBA,PF,17.0,581.0,16.6,0.633,0.088,...,NaN,1.0,0.7,1.7,0.143,NaN,1.1,1.7,2.8,0.7
5,2015-16,26.0,OKC,NBA,PF,18.0,602.0,15.3,0.629,0.423,...,NaN,1.4,0.7,2.0,0.163,NaN,2.1,1.5,3.6,0.9
6,2016-17,27.0,TOR,NBA,PF,10.0,307.0,14.4,0.527,0.292,...,NaN,0.0,0.4,0.4,0.065,NaN,-0.5,0.8,0.3,0.2
7,2017-18,28.0,TOR,NBA,PF,10.0,260.0,10.9,0.533,0.333,...,NaN,0.0,0.0,0.1,0.014,NaN,-1.7,-0.4,-2.2,0.0
8,2018-19,29.0,TOR,NBA,C,24.0,500.0,15.1,0.532,0.197,...,NaN,0.2,1.0,1.2,0.117,NaN,-1.6,1.2,-0.4,0.2
9,2019-20,30.0,TOR,NBA,C,11.0,251.0,25.2,0.702,0.409,...,NaN,0.8,0.5,1.3,0.250,NaN,5.2,2.6,7.7,0.6
10,2020-21,31.0,LAC,NBA,C,2.0,18.0,30.7,0.644,0.333,...,NaN,0.1,0.0,0.1,0.285,NaN,5.0,7.0,12.0,0.1
11,Career,NaN,NaN,NBA,NaN,146.0,4097.0,16.4,0.567,0.188,...,NaN,6.1,5.2,11.3,0.132,NaN,0.4,1.2,1.6,3.7
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6 seasons,NaN,OKC,NBA,NaN,89.0,2761.0,16.5,0.567,0.122,...,NaN,5.0,3.2,8.2,0.142,NaN,0.7,1.2,1.9,2.7
14,4 seasons,NaN,TOR,NBA,NaN,55.0,1318.0,16.0,0.567,0.287,...,NaN,1.0,2.0,3.0,0.110,NaN,-0.1,1.0,1.0,1.0
15,1 season,NaN,LAC,NBA,NaN,2.0,18.0,30.7,0.644,0.333,...,NaN,0.1,0.0,0.1,0.285,NaN,5.0,7.0,12.0,0.1

In [19]:
df4[6]

IndexError: list index out of range

In [20]:
#Store data from html page in the form of csv inside our system


df4[3].to_csv("players_data.csv")

In [4]:
#To store all the tables at once by creating new csv files inside my directory

html_data = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool'")
for i in range(len(html_data)):
    html_data[i].to_csv(f"html_data{i}.csv", index=False)

In [21]:
#Pull data inside our system using Pandas, Reading data from github

pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [26]:
#Reading data in any other format

#For eg: This dataset is available as a string in the dict format

s = """{
"name" : "sudh",
"phone_no" : "745387456",
"company" : ["iNeuron", "EY", "Unilever", "Verizon", "Wipro"]
}
"""

In [27]:
#To load data in a json format: Key:value pairs kind of datastructure

"""JavaScript Object Notation (JSON) is a standard text-based format for 
representing structured data based on JavaScript object syntax. 
It is commonly used for transmitting data in web applications
(e.g., sending some data from the server to the client,
so it can be displayed on a web page, or vice versa)"""

import json

In [30]:
s1 = json.loads(s)

In [32]:

s1

{'name': 'sudh',
 'phone_no': '745387456',
 'company': ['iNeuron', 'EY', 'Unilever', 'Verizon', 'Wipro']}

In [31]:
#Conversion of json data into a data frame(tabular format)

pd.DataFrame(s1)

   name   phone_no   company
0  sudh  745387456   iNeuron
1  sudh  745387456        EY
2  sudh  745387456  Unilever
3  sudh  745387456   Verizon
4  sudh  745387456     Wipro

In [34]:
#To extract a particular column

pd.DataFrame(s1,columns=['company'])

    company
0   iNeuron
1        EY
2  Unilever
3   Verizon
4     Wipro

In [35]:
#Nested json

In [3]:
import requests  #same request we used to create inside flask

In [4]:
res = requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [5]:
res

In [7]:
js = res.json()

In [8]:
js    #complex json loaded

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45175',
  'id': 1092601251,
  'node_id': 'PR_kwDOAA0YD84weM43',
  'number': 45175,
  'title': 'BUG: MultiIndex dtypes incorrect if level names not unique',
  'user': {'login': 'johnzangwill',
   'id': 8927258,
   'node_id': 'MDQ6VXNlcjg5MjcyNTg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8927258?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/johnzangwill',
   'html_url': 'https://github.com/johnzangwill',
   'followers_url': 'https://api.github.com/users/johnzangwill/followers',
   'following_url': 'https://api.github.com/users/johnzangwill/following{/other_user}',
   'gists_url': 'https://api.github.com/users/johnzangwill/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/johnzangwill/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/johnzangwill/subscriptions',
   'organizations_url': 'https://api.github.com/users/johnzangwill/orgs',
   'repos_url': 'https://api.github.com/users/johnzangwill/repos',
   'events_url': 'https://api.github.com/users/johnzangwill/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/johnzangwill/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-01-03T15:25:13Z',
  'updated_at': '2022-01-03T15:40:14Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45175',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45175',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45175.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45175.patch',
   'merged_at': None},
  'body': '- [x] closes #45174\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [x] whatsnew entry\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45174',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45174/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45174/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45174/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/45174',
  'id': 1092563269,
  'node_id': 'I_kwDOAA0YD85BHzFF',
  'number': 45174,
  'title': 'BUG: MultiIndex dtypes incorrect if level names not unique',
  'user': {'login': 'johnzangwill',
   'id': 8927258,
   'node_id': 'MDQ6VXNlcjg5MjcyNTg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8927258?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/johnzangwill',
   'html_url': 'https://github.com/johnzangwill',
   'followers_url': 'https://api.github.com/users/johnzangwill/followers',
   'following_url': 'https://api.github.com/users/johnzangwill/following{/other_user}',
   'gists_url': 'https://api.github.com/users/johnzangwill/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/johnzangwill/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/johnzangwill/subscriptions',
   'organizations_url': 'https://api.github.com/users/johnzangwill/orgs',
   'repos_url': 'https://api.github.com/users/johnzangwill/repos',
   'events_url': 'https://api.github.com/users/johnzangwill/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/johnzangwill/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': {'login': 'johnzangwill',
   'id': 8927258,
   'node_id': 'MDQ6VXNlcjg5MjcyNTg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8927258?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/johnzangwill',
   'html_url': 'https://github.com/johnzangwill',
   'followers_url': 'https://api.github.com/users/johnzangwill/followers',
   'following_url': 'https://api.github.com/users/johnzangwill/following{/other_user}',
   'gists_url': 'https://api.github.com/users/johnzangwill/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/johnzangwill/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/johnzangwill/subscriptions',
   'organizations_url': 'https://api.github.com/users/johnzangwill/orgs',
   'repos_url': 'https://api.github.com/users/johnzangwill/repos',
   'events_url': 'https://api.github.com/users/johnzangwill/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/johnzangwill/received_events',
   'type': 'User',
   'site_admin': False},
  'assignees': [{'login': 'johnzangwill',
    'id': 8927258,
    'node_id': 'MDQ6VXNlcjg5MjcyNTg=',
    'avatar_url': 'https://avatars.githubusercontent.com/u/8927258?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/johnzangwill',
    'html_url': 'https://github.com/johnzangwill',
    'followers_url': 'https://api.github.com/users/johnzangwill/followers',
    'following_url': 'https://api.github.com/users/johnzangwill/following{/other_user}',
    'gists_url': 'https://api.github.com/users/johnzangwill/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/johnzangwill/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/johnzangwill/subscriptions',
    'organizations_url': 'https://api.github.com/users/johnzangwill/orgs',
    'repos_url': 'https://api.github.com/users/johnzangwill/repos',
    'events_url': 'https://api.github.com/users/johnzangwill/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/johnzangwill/received_events',
    'type': 'User',
    'site_admin': False}],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-01-03T14:35:05Z',
  'updated_at': '2022-01-03T14:35:54Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the master branch of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd\r\nindex = pd.MultiIndex.from_arrays([[1], [2]], names=[1, 1])\r\nindex.dtypes\r\n1    int64\r\ndtype: object\n```\n\n\n### Issue Description\n\nIf there are duplicate multiIndex levels then dtypes only returns one entry for all the matching levels rather than one for each level\n\n### Expected Behavior\n\n```\r\nimport pandas as pd\r\nindex = pd.MultiIndex.from_arrays([[1], [2]], names=[1, 1])\r\nindex.dtypes\r\n1    int64\r\n1    int64\r\ndtype: object\r\n```\n\n### Installed Versions\n\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : 90933743f289abab5673943fb3a398a00c87b76b\r\npython           : 3.8.12.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 10\r\nVersion          : 10.0.19043\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : English_United Kingdom.1252\r\n\r\npandas           : 1.4.0.dev0+1555.g90933743f2\r\nnumpy            : 1.21.5\r\npytz             : 2021.3\r\ndateutil         : 2.8.2\r\npip              : 21.3.1\r\nsetuptools       : 60.0.5\r\nCython           : 0.29.26\r\npytest           : 6.2.5\r\nhypothesis       : 6.32.1\r\nsphinx           : 4.3.2\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 3.0.2\r\nlxml.etree       : 4.7.1\r\nhtml5lib         : 1.1\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 3.0.3\r\nIPython          : 7.30.1\r\npandas_datareader: None\r\nbs4              : 4.10.0\r\nbottleneck       : 1.3.2\r\nfsspec           : 2021.11.0\r\nfastparquet      : 0.7.2\r\ngcsfs            : 2021.11.0\r\nmatplotlib       : 3.5.1\r\nnumexpr          : 2.8.0\r\nodfpy            : None\r\nopenpyxl         : 3.0.9\r\npandas_gbq       : None\r\npyarrow          : 6.0.1\r\npyxlsb           : None\r\ns3fs             : 2021.11.0\r\nscipy            : 1.7.3\r\nsqlalchemy       : 1.4.29\r\ntables           : 3.6.1\r\ntabulate         : 0.8.9\r\nxarray           : 0.18.2\r\nxlrd             : 2.0.1\r\nxlwt             : 1.3.0\r\nnumba            : 0.53.1\r\nzstandard        : None\r\n</details>\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45174/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45174/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45173',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45173/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45173/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45173/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45173',
  'id': 1092550075,
  'node_id': 'PR_kwDOAA0YD84weCTZ',
  'number': 45173,
  'title': 'STYLE add vulture hook',
  'user': {'login': 'MarcoGorelli',
   'id': 33491632,
   'node_id': 'MDQ6VXNlcjMzNDkxNjMy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/33491632?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/MarcoGorelli',
   'html_url': 'https://github.com/MarcoGorelli',
   'followers_url': 'https://api.github.com/users/MarcoGorelli/followers',
   'following_url': 'https://api.github.com/users/MarcoGorelli/following{/other_user}',
   'gists_url': 'https://api.github.com/users/MarcoGorelli/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/MarcoGorelli/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/MarcoGorelli/subscriptions',
   'organizations_url': 'https://api.github.com/users/MarcoGorelli/orgs',
   'repos_url': 'https://api.github.com/users/MarcoGorelli/repos',
   'events_url': 'https://api.github.com/users/MarcoGorelli/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/MarcoGorelli/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 106935113,
    'node_id': 'MDU6TGFiZWwxMDY5MzUxMTM=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Code%20Style',
    'name': 'Code Style',
    'color': 'eb6420',
    'default': False,
    'description': 'Code style, linting, code_checks'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2022-01-03T14:17:49Z',
  'updated_at': '2022-01-03T15:38:57Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45173',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45173',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45173.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45173.patch',
   'merged_at': None},
  'body': 'xref #27396\r\n\r\nThe `return` in `pandas/tests/io/test_common.py` was added in #39777 - @twoertwein are the two lines which come after it meant to be skipped?\r\n\r\nThe `return; yield` comes from #12032 - the proposed change achieves the same thing (taken from https://stackoverflow.com/a/13243870/4451315)',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45173/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45173/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45171',
  'id': 1092271890,
  'node_id': 'PR_kwDOAA0YD84wdHw6',
  'number': 45171,
  'title': 'allow multiple series argument calling in ufunc',
  'user': {'login': 'miettal',
   'id': 118803,
   'node_id': 'MDQ6VXNlcjExODgwMw==',
   'avatar_url': 'https://avatars.githubusercontent.com/u/118803?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/miettal',
   'html_url': 'https://github.com/miettal',
   'followers_url': 'https://api.github.com/users/miettal/followers',
   'following_url': 'https://api.github.com/users/miettal/following{/other_user}',
   'gists_url': 'https://api.github.com/users/miettal/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/miettal/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/miettal/subscriptions',
   'organizations_url': 'https://api.github.com/users/miettal/orgs',
   'repos_url': 'https://api.github.com/users/miettal/repos',
   'events_url': 'https://api.github.com/users/miettal/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/miettal/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-01-03T07:04:04Z',
  'updated_at': '2022-01-03T08:46:44Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45171',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45171',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45171.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45171.patch',
   'merged_at': None},
  'body': '- [ ] closes #39853\r\n- [ ] tests added / passed\r\n- [ ] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [ ] whatsnew entry\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45170',
  'id': 1092216466,
  'node_id': 'PR_kwDOAA0YD84wc8FP',
  'number': 45170,
  'title': "PERF: expanding/rolling.min/max with engine='numba'",
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 1045950827,
    'node_id': 'MDU6TGFiZWwxMDQ1OTUwODI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Window',
    'name': 'Window',
    'color': 'd4c5f9',
    'default': False,
    'description': 'rolling, ewma, expanding'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-01-03T04:25:59Z',
  'updated_at': '2022-01-03T05:50:38Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45170',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45170',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45170.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45170.patch',
   'merged_at': None},
  'body': '- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [x] whatsnew entry\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/timeline',
  'performed_via_github_app': None},

In [9]:
type(js)

list

In [10]:
js[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/45175',
 'id': 1092601251,
 'node_id': 'PR_kwDOAA0YD84weM43',
 'number': 45175,
 'title': 'BUG: MultiIndex dtypes incorrect if level names not unique',
 'user': {'login': 'johnzangwill',
  'id': 8927258,
  'node_id': 'MDQ6VXNlcjg5MjcyNTg=',
  'avatar_url': 'https://avatars.githubusercontent.com/u/8927258?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/johnzangwill',
  'html_url': 'https://github.com/johnzangwill',
  'followers_url': 'https://api.github.com/users/johnzangwill/followers',
  'following_url': 'https://api.github.com/users/johnzangwill/following{/other_user}',
  'gists_url': 'https://api.github.com/users/johnzangwill/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/johnzangwill/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/johnzangwill/subscriptions',
  'organizations_url': 'https://api.github.com/users/johnzangwill/orgs',
  'repos_url': 'https://api.github.com/users/johnzangwill/repos',
  'events_url': 'https://api.github.com/users/johnzangwill/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/johnzangwill/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2022-01-03T15:25:13Z',
 'updated_at': '2022-01-03T15:40:14Z',
 'closed_at': None,
 'author_association': 'CONTRIBUTOR',
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45175',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45175',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/45175.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/45175.patch',
  'merged_at': None},
 'body': '- [x] closes #45174\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [x] whatsnew entry\r\n',
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45175/timeline',
 'performed_via_github_app': None}

In [11]:
#Q- Give me all the titles we hae in this data, first we have to convert data into a tabular format

js[0]["title"]

'BUG: MultiIndex dtypes incorrect if level names not unique'

In [14]:
#a) Give me all the titles

for i in range(len(js)):
    print(js[i]["title"])

BUG: MultiIndex dtypes incorrect if level names not unique
BUG: MultiIndex dtypes incorrect if level names not unique
STYLE add vulture hook
allow multiple series argument calling in ufunc
PERF: expanding/rolling.min/max with engine='numba'
ASV: Add merge on categorical benchmarks
API: Allow other na values in StringArray Constructor
TST: tests for nullable issues
REF: separate numpy-specific part of can_hold_element
TST: Clean pg8000 test
TST: Parameterize
API: series_with_int64index[i:j] should be label-based
BUG: clip raising with na series bounds for datetimes or ea int
BUG: DataFrameGroupBy.value_counts() fails if as_index=False and there are duplicate column labels
BUG: pd._libs.lib.is_iterator reports Timestamp as iterable on Cygwin
BUG: `Styler.apply_index` fails with LaTeX conversion with hidden Multi levels
BUG: latex styling index and hide levels
TST: tests for setitem-like casting issues
API: Series[EA].fillna fallback behavior with incompatible value
BUG: astype_nansafe from float to unsigned int with negatives
BUG: fix GH45032 iloc(axis=1).__setitem__ axis argument
REF: de-duplicate Index._find_common_type_compat and concat.cast_to_common_type
DEPR: special-casing PeriodDtype in Series.where/Series/mask fallback
ENH: Allow callable for on_bad_lines in read_csv when engine="python"
BUG: Fix for xlabel/ylabel in barh plot
BUG: xlabel/ylabel don't work as expected with barh plots
BUG: Series(floatlike, dtype=intlike) inconsistent with non-ndarray data
TYP: Add type definition for generators in  excel.py
ENH: add `cline` to `Styler.to_latex`
BUG: allow use of both default+input resolvers in df.eval, GH34966

In [17]:
#b Convert data into a tabular format, choosing columns of your choice(url, title in this example)

pd.DataFrame(js,columns=['url','title'])

,url,title
0,https://api.github.com/repos/pandas-dev/pandas...,BUG: MultiIndex dtypes incorrect if level name...
1,https://api.github.com/repos/pandas-dev/pandas...,BUG: MultiIndex dtypes incorrect if level name...
2,https://api.github.com/repos/pandas-dev/pandas...,STYLE add vulture hook
3,https://api.github.com/repos/pandas-dev/pandas...,allow multiple series argument calling in ufunc
4,https://api.github.com/repos/pandas-dev/pandas...,PERF: expanding/rolling.min/max with engine='n...
5,https://api.github.com/repos/pandas-dev/pandas...,ASV: Add merge on categorical benchmarks
6,https://api.github.com/repos/pandas-dev/pandas...,API: Allow other na values in StringArray Cons...
7,https://api.github.com/repos/pandas-dev/pandas...,TST: tests for nullable issues
8,https://api.github.com/repos/pandas-dev/pandas...,REF: separate numpy-specific part of can_hold_...
9,https://api.github.com/repos/pandas-dev/pandas...,TST: Clean pg8000 test
10,https://api.github.com/repos/pandas-dev/pandas...,TST: Parameterize
11,https://api.github.com/repos/pandas-dev/pandas...,API: series_with_int64index[i:j] should be lab...
12,https://api.github.com/repos/pandas-dev/pandas...,BUG: clip raising with na series bounds for da...
13,https://api.github.com/repos/pandas-dev/pandas...,BUG: DataFrameGroupBy.value_counts() fails if ...
14,https://api.github.com/repos/pandas-dev/pandas...,BUG: pd._libs.lib.is_iterator reports Timestam...
15,https://api.github.com/repos/pandas-dev/pandas...,BUG: `Styler.apply_index` fails with LaTeX con...
16,https://api.github.com/repos/pandas-dev/pandas...,BUG: latex styling index and hide levels
17,https://api.github.com/repos/pandas-dev/pandas...,TST: tests for setitem-like casting issues
18,https://api.github.com/repos/pandas-dev/pandas...,API: Series[EA].fillna fallback behavior with ...
19,https://api.github.com/repos/pandas-dev/pandas...,BUG: astype_nansafe from float to unsigned int...
20,https://api.github.com/repos/pandas-dev/pandas...,BUG: fix GH45032 iloc(axis=1).__setitem__ axis...
21,https://api.github.com/repos/pandas-dev/pandas...,REF: de-duplicate Index._find_common_type_comp...
22,https://api.github.com/repos/pandas-dev/pandas...,DEPR: special-casing PeriodDtype in Series.whe...
23,https://api.github.com/repos/pandas-dev/pandas...,ENH: Allow callable for on_bad_lines in read_c...
24,https://api.github.com/repos/pandas-dev/pandas...,BUG: Fix for xlabel/ylabel in barh plot
25,https://api.github.com/repos/pandas-dev/pandas...,BUG: xlabel/ylabel don't work as expected with...
26,https://api.github.com/repos/pandas-dev/pandas...,"BUG: Series(floatlike, dtype=intlike) inconsis..."
27,https://api.github.com/repos/pandas-dev/pandas...,TYP: Add type definition for generators in ex...
28,https://api.github.com/repos/pandas-dev/pandas...,ENH: add `cline` to `Styler.to_latex`
29,https://api.github.com/repos/pandas-dev/pandas...,BUG: allow use of both default+input resolvers...

In [19]:
df4 = pd.DataFrame(js).head()

In [20]:
df4

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45175,1092601251,PR_kwDOAA0YD84weM43,45175,BUG: MultiIndex dtypes incorrect if level name...,...,2022-01-03T15:40:14Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #45174\r\n- [x] tests added / pas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45174,1092563269,I_kwDOAA0YD85BHzFF,45174,BUG: MultiIndex dtypes incorrect if level name...,...,2022-01-03T14:35:54Z,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45173,1092550075,PR_kwDOAA0YD84weCTZ,45173,STYLE add vulture hook,...,2022-01-03T15:38:57Z,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,xref #27396\r\n\r\nThe `return` in `pandas/tes...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45171,1092271890,PR_kwDOAA0YD84wdHw6,45171,allow multiple series argument calling in ufunc,...,2022-01-03T08:46:44Z,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #39853\r\n- [ ] tests added / pas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45170,1092216466,PR_kwDOAA0YD84wc8FP,45170,PERF: expanding/rolling.min/max with engine='n...,...,2022-01-03T05:50:38Z,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] tests added / passed\r\n- [x] Ensure all...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None

In [21]:
#To store json converted dataframe df4 into a csv file in our system

df4.to_csv('json_dump.csv')

In [22]:
js[0]['user']

{'login': 'johnzangwill',
 'id': 8927258,
 'node_id': 'MDQ6VXNlcjg5MjcyNTg=',
 'avatar_url': 'https://avatars.githubusercontent.com/u/8927258?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/johnzangwill',
 'html_url': 'https://github.com/johnzangwill',
 'followers_url': 'https://api.github.com/users/johnzangwill/followers',
 'following_url': 'https://api.github.com/users/johnzangwill/following{/other_user}',
 'gists_url': 'https://api.github.com/users/johnzangwill/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/johnzangwill/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/johnzangwill/subscriptions',
 'organizations_url': 'https://api.github.com/users/johnzangwill/orgs',
 'repos_url': 'https://api.github.com/users/johnzangwill/repos',
 'events_url': 'https://api.github.com/users/johnzangwill/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/johnzangwill/received_events',
 'type': 'User',
 'site_admin': False}

In [24]:
df5 = pd.DataFrame([js[i]['user'] for i in range(len(js))])

In [25]:
df5

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
1,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
2,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
3,miettal,118803,MDQ6VXNlcjExODgwMw==,https://avatars.githubusercontent.com/u/118803...,,https://api.github.com/users/miettal,https://github.com/miettal,https://api.github.com/users/miettal/followers,https://api.github.com/users/miettal/following...,https://api.github.com/users/miettal/gists{/gi...,https://api.github.com/users/miettal/starred{/...,https://api.github.com/users/miettal/subscript...,https://api.github.com/users/miettal/orgs,https://api.github.com/users/miettal/repos,https://api.github.com/users/miettal/events{/p...,https://api.github.com/users/miettal/received_...,User,False
4,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
5,lukemanley,8519523,MDQ6VXNlcjg1MTk1MjM=,https://avatars.githubusercontent.com/u/851952...,,https://api.github.com/users/lukemanley,https://github.com/lukemanley,https://api.github.com/users/lukemanley/followers,https://api.github.com/users/lukemanley/follow...,https://api.github.com/users/lukemanley/gists{...,https://api.github.com/users/lukemanley/starre...,https://api.github.com/users/lukemanley/subscr...,https://api.github.com/users/lukemanley/orgs,https://api.github.com/users/lukemanley/repos,https://api.github.com/users/lukemanley/events...,https://api.github.com/users/lukemanley/receiv...,User,False
6,lithomas1,47963215,MDQ6VXNlcjQ3OTYzMjE1,https://avatars.githubusercontent.com/u/479632...,,https://api.github.com/users/lithomas1,https://github.com/lithomas1,https://api.github.com/users/lithomas1/followers,https://api.github.com/users/lithomas1/followi...,https://api.github.com/users/lithomas1/gists{/...,https://api.github.com/users/lithomas1/starred...,https://api.github.com/users/lithomas1/subscri...,https://api.github.com/users/lithomas1/orgs,https://api.github.com/users/lithomas1/repos,https://api.github.com/users/lithomas1/events{...,https://api.github.com/users/lithomas1/receive...,User,False
7,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
8,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
9,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
10,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
11,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
12,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
13,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
14,DWesl,22566757,MDQ6VXNlcjIyNTY2NzU3,https://avatars.githubusercontent.com/u/225667...,,https://api.github.com/users/DWesl,https://github.com/DWesl,https://api.github.com/users/DWesl/followers,https://api.github.com/users/DWesl/following{/...,https://api.github.com/users/DWesl/gists{/gist...,https://api.github.com/users/DWesl/starred{/ow...,https://api.github.com/users/DWesl/subscriptions,https://api.github.com/users/DWesl/orgs,https://api.github.com/users/DWesl/repos,https://api.github.com/users/DWesl/events{/pri...,https://api.github.com/users/DWesl/received_ev...,User,False
15,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
16,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
17,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
18,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
19,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
20,ellequelle,42851573,MDQ6VXNlcjQyODUxNTcz,https://avatars.githubusercontent.com/u/428515...,,https://api.github.com/users/ellequelle,https://github.com/ellequelle,https://api.github.com/users/ellequelle/followers,https://api.github.com/users/ellequelle/follow...,https://api.github.com/users/ellequelle/gists{...,https://api.github.com/users/ellequelle/starre...,https://api.github.com/users/ellequelle/subscr...,https://api.github.com/users/ellequelle/orgs,https://api.github.com/users/ellequelle/repos,https://api.github.com/users/ellequelle/events...,https://api.github.com/users/ellequelle/receiv...,User,False
21,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
22,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
23,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
24,stefmolin,24376333,MDQ6VXNlcjI0Mzc2MzMz,https://avatars.githubusercontent.com/u/243763...,,https://api.github.com/users/stefmolin,https://github.com/stefmolin,https://api.github.com/users/stefmolin/followers,https://api.github.com/users/stefmolin/followi...,https://api.github.com/users/stefmolin/gists{/...,https://api.github.com/users/stefmolin/starred...,https://api.github.com/users/stefmolin/subscri...,https://api.github.com/users/stefmolin/orgs,https://api.github.com/users/stefmolin/repos,https://api.github.com/users/stefmolin/events{...,https://api.github.com/users/stefmolin/receive...,User,False
25,stefmolin,24376333,MDQ6VXNlcjI0Mzc2MzMz,https://avatars.githubusercontent.com/u/243763...,,https://api.github.com/users/stefmolin,https://github.com/stefmolin,https://api.github.com/users/stefmolin/followers,https://api.github.com/users/stefmolin/followi...,https://api.github.com/users/stefmolin/gists{/...,https://api.github.com/users/stefmolin/starred...,https://api.github.com/users/stefmolin/subscri...,https://api.github.com/users/stefmolin/orgs,https://api.github.com/users/stefmolin/repos,https://api.github.com/users/stefmolin/events{...,https://api.github.com/users/stefmolin/receive...,User,False
26,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
27,kashifkhan,361477,MDQ6VXNlcjM2MTQ3Nw==,https://avatars.githubusercontent.com/u/361477...,,https://api.github.com/users/kashifkhan,https://github.com/kashifkhan,https://api.github.com/users/kashifkhan/followers,https://api.github.com/users/kashifkhan/follow...,https://api.github.com/users/kashifkhan/gists{...,https://api.github.com/users/kashifkhan/starre...,https://api.github.com/users/kashifkhan/subscr...,https://api.github.com/users/kashifkhan/orgs,https://api.github.com/users/kashifkhan/repos,https://api.github.com/users/kashifkhan/events...,https://api.github.com/users/kashifkhan/receiv...,User,False
28,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
29,bubblingoak,12465196,MDQ6VXNlcjEyNDY1MTk2,https://avatars.githubusercontent.com/u/124651...,,https://api.github.com/users/bubblingoak,https://github.com/bubblingoak,https://api.github.com/users/bubblingoak/follo...,https://api.github.com/users/bubblingoak/follo...,https://api.github.com/users/bubblingoak/gists...,https://api.github.com/users/bubblingoak/starr...,https://api.github.com/users/bubblingoak/subsc...,https://api.github.com/users/bubblingoak/orgs,https://api.github.com/users/bubblingoak/repos,https://api.github.com/users/bubblingoak/event...,https://api.github.com/users/bubblingoak/recei...,User,False

In [27]:
pd.DataFrame([js[0]['user']])

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False

In [28]:
lis=[]
for i in range(len(js)):    #To find total no of dictionaries we have
    lis.append(js[i]["user"]) #We will go inside every dict and try to extract user data
pd.DataFrame(lis)   #We will append the data extracted into a list

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
1,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
2,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
3,miettal,118803,MDQ6VXNlcjExODgwMw==,https://avatars.githubusercontent.com/u/118803...,,https://api.github.com/users/miettal,https://github.com/miettal,https://api.github.com/users/miettal/followers,https://api.github.com/users/miettal/following...,https://api.github.com/users/miettal/gists{/gi...,https://api.github.com/users/miettal/starred{/...,https://api.github.com/users/miettal/subscript...,https://api.github.com/users/miettal/orgs,https://api.github.com/users/miettal/repos,https://api.github.com/users/miettal/events{/p...,https://api.github.com/users/miettal/received_...,User,False
4,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
5,lukemanley,8519523,MDQ6VXNlcjg1MTk1MjM=,https://avatars.githubusercontent.com/u/851952...,,https://api.github.com/users/lukemanley,https://github.com/lukemanley,https://api.github.com/users/lukemanley/followers,https://api.github.com/users/lukemanley/follow...,https://api.github.com/users/lukemanley/gists{...,https://api.github.com/users/lukemanley/starre...,https://api.github.com/users/lukemanley/subscr...,https://api.github.com/users/lukemanley/orgs,https://api.github.com/users/lukemanley/repos,https://api.github.com/users/lukemanley/events...,https://api.github.com/users/lukemanley/receiv...,User,False
6,lithomas1,47963215,MDQ6VXNlcjQ3OTYzMjE1,https://avatars.githubusercontent.com/u/479632...,,https://api.github.com/users/lithomas1,https://github.com/lithomas1,https://api.github.com/users/lithomas1/followers,https://api.github.com/users/lithomas1/followi...,https://api.github.com/users/lithomas1/gists{/...,https://api.github.com/users/lithomas1/starred...,https://api.github.com/users/lithomas1/subscri...,https://api.github.com/users/lithomas1/orgs,https://api.github.com/users/lithomas1/repos,https://api.github.com/users/lithomas1/events{...,https://api.github.com/users/lithomas1/receive...,User,False
7,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
8,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
9,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
10,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
11,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
12,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
13,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
14,DWesl,22566757,MDQ6VXNlcjIyNTY2NzU3,https://avatars.githubusercontent.com/u/225667...,,https://api.github.com/users/DWesl,https://github.com/DWesl,https://api.github.com/users/DWesl/followers,https://api.github.com/users/DWesl/following{/...,https://api.github.com/users/DWesl/gists{/gist...,https://api.github.com/users/DWesl/starred{/ow...,https://api.github.com/users/DWesl/subscriptions,https://api.github.com/users/DWesl/orgs,https://api.github.com/users/DWesl/repos,https://api.github.com/users/DWesl/events{/pri...,https://api.github.com/users/DWesl/received_ev...,User,False
15,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
16,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
17,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
18,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
19,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
20,ellequelle,42851573,MDQ6VXNlcjQyODUxNTcz,https://avatars.githubusercontent.com/u/428515...,,https://api.github.com/users/ellequelle,https://github.com/ellequelle,https://api.github.com/users/ellequelle/followers,https://api.github.com/users/ellequelle/follow...,https://api.github.com/users/ellequelle/gists{...,https://api.github.com/users/ellequelle/starre...,https://api.github.com/users/ellequelle/subscr...,https://api.github.com/users/ellequelle/orgs,https://api.github.com/users/ellequelle/repos,https://api.github.com/users/ellequelle/events...,https://api.github.com/users/ellequelle/receiv...,User,False
21,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
22,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
23,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
24,stefmolin,24376333,MDQ6VXNlcjI0Mzc2MzMz,https://avatars.githubusercontent.com/u/243763...,,https://api.github.com/users/stefmolin,https://github.com/stefmolin,https://api.github.com/users/stefmolin/followers,https://api.github.com/users/stefmolin/followi...,https://api.github.com/users/stefmolin/gists{/...,https://api.github.com/users/stefmolin/starred...,https://api.github.com/users/stefmolin/subscri...,https://api.github.com/users/stefmolin/orgs,https://api.github.com/users/stefmolin/repos,https://api.github.com/users/stefmolin/events{...,https://api.github.com/users/stefmolin/receive...,User,False
25,stefmolin,24376333,MDQ6VXNlcjI0Mzc2MzMz,https://avatars.githubusercontent.com/u/243763...,,https://api.github.com/users/stefmolin,https://github.com/stefmolin,https://api.github.com/users/stefmolin/followers,https://api.github.com/users/stefmolin/followi...,https://api.github.com/users/stefmolin/gists{/...,https://api.github.com/users/stefmolin/starred...,https://api.github.com/users/stefmolin/subscri...,https://api.github.com/users/stefmolin/orgs,https://api.github.com/users/stefmolin/repos,https://api.github.com/users/stefmolin/events{...,https://api.github.com/users/stefmolin/receive...,User,False
26,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
27,kashifkhan,361477,MDQ6VXNlcjM2MTQ3Nw==,https://avatars.githubusercontent.com/u/361477...,,https://api.github.com/users/kashifkhan,https://github.com/kashifkhan,https://api.github.com/users/kashifkhan/followers,https://api.github.com/users/kashifkhan/follow...,https://api.github.com/users/kashifkhan/gists{...,https://api.github.com/users/kashifkhan/starre...,https://api.github.com/users/kashifkhan/subscr...,https://api.github.com/users/kashifkhan/orgs,https://api.github.com/users/kashifkhan/repos,https://api.github.com/users/kashifkhan/events...,https://api.github.com/users/kashifkhan/receiv...,User,False
28,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
29,bubblingoak,12465196,MDQ6VXNlcjEyNDY1MTk2,https://avatars.githubusercontent.com/u/124651...,,https://api.github.com/users/bubblingoak,https://github.com/bubblingoak,https://api.github.com/users/bubblingoak/follo...,https://api.github.com/users/bubblingoak/follo...,https://api.github.com/users/bubblingoak/gists...,https://api.github.com/users/bubblingoak/starr...,https://api.github.com/users/bubblingoak/subsc...,https://api.github.com/users/bubblingoak/orgs,https://api.github.com/users/bubblingoak/repos,https://api.github.com/users/bubblingoak/event...,https://api.github.com/users/bubblingoak/recei...,User,False

In [31]:
#Different approach using from_records function

json_data= pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data = pd.DataFrame.from_records(json_data['user']) #Automatically it will be able to parse data and unravel
data.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
1,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
2,johnzangwill,8927258,MDQ6VXNlcjg5MjcyNTg=,https://avatars.githubusercontent.com/u/892725...,,https://api.github.com/users/johnzangwill,https://github.com/johnzangwill,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/foll...,https://api.github.com/users/johnzangwill/gist...,https://api.github.com/users/johnzangwill/star...,https://api.github.com/users/johnzangwill/subs...,https://api.github.com/users/johnzangwill/orgs,https://api.github.com/users/johnzangwill/repos,https://api.github.com/users/johnzangwill/even...,https://api.github.com/users/johnzangwill/rece...,User,False
3,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
4,miettal,118803,MDQ6VXNlcjExODgwMw==,https://avatars.githubusercontent.com/u/118803...,,https://api.github.com/users/miettal,https://github.com/miettal,https://api.github.com/users/miettal/followers,https://api.github.com/users/miettal/following...,https://api.github.com/users/miettal/gists{/gi...,https://api.github.com/users/miettal/starred{/...,https://api.github.com/users/miettal/subscript...,https://api.github.com/users/miettal/orgs,https://api.github.com/users/miettal/repos,https://api.github.com/users/miettal/events{/p...,https://api.github.com/users/miettal/received_...,User,False

In [ ]:
html_data = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool'")
for i in range(len(html_data)):
    html_data[i].to_csv(f"html_data{i}.csv", index=False)

In [6]:
import pandas as pd

In [7]:
#Loadind csv files

form_file = pd.read_csv("html_data1.csv")

In [8]:
#Storing file in the pickle formatj

form_file.to_pickle("my_pickle")   #Binary file format

In [9]:
pwd()

'C:\\Users\\Lakshya\\DS_Python'

In [10]:
#.h5 file format


h5_data = pd.HDFStore('test.h5')   #h5 file object

In [11]:
h5_data['obj1'] = form_file  #Civilised form of data

C:\Users\Lakshya\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['Season', 'Tm', 'Lg', 'Pos'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
h5_data["obj1"]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2009-10,20.0,OKC,NBA,PF,6.0,0.0,25.5,3.3,5.8,...,0.700,2.2,4.3,6.5,0.3,0.3,2.0,1.0,3.2,7.8
1,2010-11,21.0,OKC,NBA,PF,17.0,17.0,28.8,3.9,8.5,...,0.825,2.8,4.5,7.3,0.2,0.2,3.1,1.2,3.8,9.8
2,2011-12,22.0,OKC,NBA,PF,20.0,20.0,28.5,4.2,8.0,...,0.722,2.4,3.4,5.8,0.6,0.6,3.0,0.6,2.9,9.8
3,2012-13,23.0,OKC,NBA,PF,11.0,11.0,33.3,5.4,12.3,...,0.792,3.5,4.8,8.4,0.7,0.0,3.0,0.6,3.5,12.8
4,2013-14,24.0,OKC,NBA,PF,17.0,17.0,34.2,5.1,8.6,...,0.765,1.8,5.0,6.8,0.7,0.6,2.5,1.2,3.2,12.1
5,2015-16,26.0,OKC,NBA,PF,18.0,18.0,33.4,4.7,9.1,...,0.750,1.3,5.0,6.3,0.6,0.8,1.3,0.5,2.8,12.0
6,2016-17,27.0,TOR,NBA,PF,10.0,10.0,30.7,6.0,13.0,...,0.846,0.9,5.6,6.5,1.4,0.4,1.7,1.1,3.7,14.3
7,2017-18,28.0,TOR,NBA,PF,10.0,9.0,26.0,3.0,7.2,...,0.818,1.3,4.6,5.9,1.1,0.1,1.3,1.6,2.1,8.7
8,2018-19,29.0,TOR,NBA,C,24.0,0.0,20.8,3.8,8.0,...,0.762,1.5,4.5,6.0,0.9,0.5,1.0,1.0,3.3,9.4
9,2019-20,30.0,TOR,NBA,C,11.0,0.0,22.8,5.7,10.0,...,1.000,1.5,6.2,7.7,1.2,0.2,1.3,1.1,2.5,14.8
10,2020-21,31.0,LAC,NBA,C,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0
11,Career,NaN,NaN,NBA,NaN,146.0,102.0,28.1,4.5,8.9,...,0.792,1.9,4.7,6.5,0.7,0.4,2.0,1.0,3.1,11.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,31.0,4.5,8.8,...,0.768,2.2,4.5,6.7,0.5,0.5,2.5,0.8,3.2,10.9
14,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,24.0,4.5,9.2,...,0.824,1.3,5.1,6.4,1.1,0.3,1.2,1.2,3.0,11.2
15,1 season,NaN,LAC,NBA,NaN,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0

In [13]:
h5_data.put('obj2', form_file, format='table')

In [14]:
h5_data.select('obj2', where = ['index >= 10 and index <=15'])

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
10,2020-21,31.0,LAC,NBA,C,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0
11,Career,NaN,NaN,NBA,NaN,146.0,102.0,28.1,4.5,8.9,...,0.792,1.9,4.7,6.5,0.7,0.4,2.0,1.0,3.1,11.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,31.0,4.5,8.8,...,0.768,2.2,4.5,6.7,0.5,0.5,2.5,0.8,3.2,10.9
14,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,24.0,4.5,9.2,...,0.824,1.3,5.1,6.4,1.1,0.3,1.2,1.2,3.0,11.2
15,1 season,NaN,LAC,NBA,NaN,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0

In [15]:
 #Serde= Serialization(Writing data), Deserialization(Reading/Selecting data)

In [16]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [17]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [20]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [21]:
df.dtypes == 'object'   #Filteration operation

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [22]:
df.dtypes[df.dtypes == 'object']  #series

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [23]:
df.dtypes[df.dtypes == 'object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [24]:
type(df.dtypes)

pandas.core.series.Series

In [25]:
df1 = df[df.dtypes[df.dtypes == 'object'].index]

In [26]:
df1

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [27]:
df1.describe()

                       Name   Sex Ticket    Cabin Embarked
count                   891   891    891      204      889
unique                  891     2    681      147        3
top     Mernagh, Mr. Robert  male   1601  B96 B98        S
freq                      1   577      7        4      644

In [28]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [30]:
df.dtypes=='float64'

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin          False
Embarked       False
dtype: bool

In [31]:
df.dtypes[df.dtypes == 'float64']

Age     float64
Fare    float64
dtype: object

In [32]:
type(df.dtypes[df.dtypes == 'float64'])

pandas.core.series.Series

In [33]:
df.dtypes[df.dtypes == 'float64'].index

Index(['Age', 'Fare'], dtype='object')

In [34]:
df[["Name", 'Fare']]

                                                  Name     Fare
0                              Braund, Mr. Owen Harris   7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833
2                               Heikkinen, Miss. Laina   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000
4                             Allen, Mr. William Henry   8.0500
..                                                 ...      ...
886                              Montvila, Rev. Juozas  13.0000
887                       Graham, Miss. Margaret Edith  30.0000
888           Johnston, Miss. Catherine Helen "Carrie"  23.4500
889                              Behr, Mr. Karl Howell  30.0000
890                                Dooley, Mr. Patrick   7.7500

[891 rows x 2 columns]

In [38]:
[df.dtypes[df.dtypes == 'float64'].index]

[Index(['Age', 'Fare'], dtype='object')]

In [41]:
df[df.dtypes[df.dtypes == 'float64'].index]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [42]:
df["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [43]:
df["Name"][5:10]

5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [44]:
df["Name"][5:10:2]

5                       Moran, Mr. James
7         Palsson, Master. Gosta Leonard
9    Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [45]:
df["Ticket"][5:16]

5        330877
6         17463
7        349909
8        347742
9        237736
10      PP 9549
11       113783
12    A/5. 2151
13       347082
14       350406
15       248706
Name: Ticket, dtype: object

In [47]:
df[["Ticket"]][5:16]

       Ticket
5      330877
6       17463
7      349909
8      347742
9      237736
10    PP 9549
11     113783
12  A/5. 2151
13     347082
14     350406
15     248706

In [48]:
sorted(df["Ticket"])

['110152',
 '110152',
 '110152',
 '110413',
 '110413',
 '110413',
 '110465',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113572',
 '113760',
 '113760',
 '113760',
 '113760',
 '113767',
 '113773',
 '113776',
 '113776',
 '113781',
 '113781',
 '113781',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113798',
 '113800',
 '113803',
 '113803',
 '113804',
 '113806',
 '113806',
 '113807',
 '11668',
 '11668',
 '11751',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '11967',
 '12233',
 '12460',
 '12749',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13502',
 '13502',
 '13507',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '16966',
 '16966',
 '16988',
 '17421',
 '17421',
 '17421',
 '17421',
 '17453',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17474',
 '17764',
 '19877',
 '19877',
 '19928',
 '19928',
 '19943',
 '19943',
 '19947',
 '19950',
 '19950',
 '19950',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230080',
 '230080',
 '230136',
 '230136',
 '230433',
 '230433',
 '230434',
 '231919',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237736',
 '237789',
 '237798',
 '239853',
 '239853',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '239865',
 '240929',
 '24160',
 '24160',
 '24160',
 '243847',
 '243847',
 '243880',
 '244252',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248727',
 '248727',
 '248731',
 '248733',
 '248738',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250644',
 '250646',
 '250647',
 '250647',
 '250648',
 '250649',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2651',
 '2653',
 '2653',
 '2659',
 '2659',
 '2661',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2665',
 '2666',
 '2666',
 '2666',
 '2666',
 '2667',
 '2668',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29106',
 '29106',
 '29108',
 '2926',
 '29750',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101278',
 '3101281',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345773',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347077',
 '347077',
 '347077',
 '347078',
 '347080',
 '347080',
 '347081',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347742',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349909',
 '349909',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35273',
 '35273',
 '35281',
 '35281',
 '35851',
 '35852',
 '358585',
 '358585',
 '36209',
 '362316',
 '363291',
 '363291',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364516',
 '364846',
 '364848',
 '364849',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367226',
 '367228',
 '367229',
 '367230',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36928',
 '36947',
 '36947',
 '36963',
 '36967',
 '36973',
 '36973',
 '370129',
 '370129',
 '370365',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371110',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '382652',
 '382652',
 '382652',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '392096',
 '394140',
 '4133',
 '4133',
 '4133',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'LINE',
 'LINE',
 'LINE',
 'P/PP 3381',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17485',
 'PC 17558',
 'PC 17558',
 'PC 17569',
 'PC 17569',
 'PC 17572',
 'PC 17572',
 'PC 17572',
 'PC 17582',
 'PC 17582',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17755',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17758',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17760',
 'PC 17760',
 'PC 17761',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735',
 'WE/P 5735']

In [49]:
for i in df.columns:
    print(df[i])

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64
0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 891, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: Parch, Length: 891, dtype: int64
0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64
0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [50]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [51]:
#Adding a new column in a dataframe

In [52]:
df['sudh']= 'kumar'

In [53]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,kumar
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,kumar
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,kumar
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,kumar
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,kumar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,kumar
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,kumar
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,kumar
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,kumar
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,kumar

In [54]:
df['sudh'] = df['PassengerId']

In [55]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891

In [57]:
pd.Categorical(df['Cabin'])  #In-built function to give direct categories of data

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [58]:
pd.Categorical(df['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [59]:
pd.Categorical(df['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [60]:
df['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [61]:
df['Pclass'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Pclass, Length: 891, dtype: bool

In [62]:
df['Cabin'].isnull()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [65]:
ser = df['Cabin'][df['Cabin'].isnull() == False]

In [67]:
ser

1              C85
3             C123
6              E46
10              G6
11            C103
          ...
871            D35
872    B51 B53 B55
879            C50
887            B42
889           C148
Name: Cabin, Length: 204, dtype: object

In [66]:
ser.index

Int64Index([  1,   3,   6,  10,  11,  21,  23,  27,  31,  52,
            ...
            849, 853, 857, 862, 867, 871, 872, 879, 887, 889],
           dtype='int64', length=204)

In [69]:
df.iloc[ser.index]   #Row wiseselection

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,11
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,872
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,873
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,880
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890

In [70]:
df.iloc[[1,6,5,4,7]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,6
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,8

In [71]:
df['Fare'] == max(df['Fare'])

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [72]:
df[df['Fare'] == max(df['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [74]:
df['new_col'] = df['PassengerId'] + df['Age']

In [75]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,23.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,40.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3,29.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4,39.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887,914.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888,907.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890,916.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891,923.0

In [ ]:
#Task